<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="./css/blogList.css">
        <!-- <script type="module" src="./scripts/indexScript.js"></script> -->
        <title>Blogs</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main class="main blog-list-main">
            <div class="blog-intro-container">
                <h2 class="blog-title bold">I SMILE BLOG</h2>
            </div>
            <section class="blogs-container">
                <div class="blogs-wrapper">
                    <% blogs.forEach(blog => { %>
                        <a href="/blog/<%= blog.id %>" class="blog-link">
                            <article class="blog-card">
                                <div class="blog-img-container">
                                    <img src="<%= blog.mainImageURL %>" class="blog-image" alt="<%= blog.title %>-main-image">
                                </div>
                                <div class="blog-info-container">
                                    <p class="blog-author-date">By <%= blog.author %> | Apr 21, 2023</p>
                                    <h3 class="blog-card-title"><%= blog.title %></h3>
                                    <p class="blog-card-description"><%= blog.cutDesc %></p>
                                </div>
                                <button class="blog-card-button">LEER MAS</button>
                            </article>
                        </a>
                    <% }) %>
                    

                    <a href="/" class="blog-link">
                        <article class="blog-card">
                            <div class="blog-img-container">
                                <img src="/img/estheticblog2.jpg" class="blog-image" alt="blog-image">
                            </div>
                            <div class="blog-info-container">
                                <p class="blog-author-date">By I SMILE | Apr 21, 2023</p>
                                <h3 class="blog-card-title">Lifting Líquido _ RADIESSE 🤩</h3>
                                <p class="blog-card-description">El momento para sentirte bien es AHORA . Dra. Inés Añó .
                                    Gracias a todos nuestros pacientes por elegirnos y confiar en…</p>
                            </div>
                            <button class="blog-card-button">LEER MAS</button>
                        </article>
                    </a>

                    <a href="/" class="blog-link">
                        <article class="blog-card">
                            <div class="blog-img-container">
                                <img src="/img/estheticblog3.jpg" class="blog-image" alt="blog-image">
                            </div>
                            <div class="blog-info-container">
                                <p class="blog-author-date">By I SMILE | Apr 21, 2023</p>
                                <h3 class="blog-card-title">DEFINICIÓN MANDIBULAR</h3>
                                <p class="blog-card-description">El momento para sentirte bien es AHORA . Dra. Inés Añó .
                                    Gracias a todos nuestros pacientes por elegirnos y confiar en…</p>
                            </div>
                            <button class="blog-card-button">LEER MAS</button>
                        </article>
                    </a>
                    <a href="/" class="blog-link">
                        <article class="blog-card">
                            <div class="blog-img-container">
                                <img src="/img/estheticblog4.jpg" class="blog-image" alt="blog-image">
                            </div>
                            <div class="blog-info-container">
                                <p class="blog-author-date">By I SMILE | Apr 21, 2023</p>
                                <h3 class="blog-card-title">MASCULINIZACIÓN FACIAL</h3>
                                <p class="blog-card-description">El momento para sentirte bien es AHORA . Dra. Inés Añó .
                                    Gracias a todos nuestros pacientes por elegirnos y confiar en…</p>
                            </div>
                            <button class="blog-card-button">LEER MAS</button>
                        </article>
                    </a>
        
                </div>
                <div class="arrow-container arrow-right-container">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
                <div class="arrow-container arrow-left-container">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
            </section>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>