<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head.ejs') %>
        <title>Blog <%= blog.id %>
        </title>
        <link rel="stylesheet" href="/css/blog.css">
        <script src="/scripts/blog.js" type="module"></script>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main class="blog-detail-main">

            <% if(locals.userLogged && locals.userLogged.user_categories_id !=3) { %>
                <div class="blog-admin-actions-container">
                    <i class='bx bx-dots-vertical-rounded admin-toggle'></i>
                    <div class="blog-admin-actions-dropdown">
                        <div class="action-container">
                            <a href="/blog/update/<%= blog.id %>">Actualizar Blog</a>
                        </div>
                        <div class="action-container">
                            <form class="update-delete-btn-container" action="/blog/<%= blog.id %>?_method=DELETE"
                                method="POST">
                                <button class="form-device-btn" type="submit">Eliminar Blog</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %>
                    <article class="blog-detail-container">
                        <div class="blog-detail-img-container">
                            <% blog.images.forEach(img=> { %>
                                <% if(img.main_image==1) { %>
                                    <img src="/img/blog/<%=img.filename %>" alt="<%=img.id %>" class="blog-detail-img">
                                    <% } %>
                                        <% }) %>

                        </div>
                        <div class="blog-detail-info-container">
                            <div class="blog-detail-intro-container">
                                <p class="blog-date">
                                    <%= blog.createdAt %>
                                </p>
                                <h1>
                                    <%= blog.title %>
                                </h1>
                            </div>
                            <div class="blog-detail-text-container">
                                <%= blog.text %>
                            </div>
                        </div>
                    </article>
                    <section class="other-img-list">
                        <div class="mobile-carousel-container">
                            <% if(blog.images.length ) %>
                                <% blog.images.forEach((img, i)=> { %>

                                    <% if(img.main_image==0) { %>

                                        <div class="other-img-container">
                                            <img src="/img/blog/<%=img.filename %>" alt="<%= img.id %>">
                                        </div>

                                        <% } %>
                                            <% }) %>

                        </div>
                    </section>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>