<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/checkout.css">
        <script type="module" src="/scripts/checkoutScript.js"></script>
        <script type="module" src="/scripts/getLoggedUserScript.js"></script>
        <title>Checkout</title>
</head>

<body>
    <%- include('./partials/blackScreen.ejs') %>
        <%- include('./partials/login.ejs') %>
            <%- include('./partials/header.ejs') %>
                <%- include('./partials/registrationForm.ejs') %>
                    <%- include('partials/wishlist.ejs') %>
                        <main class="main checkout-main">

                            <% if (locals.isLogged) { %>
                                <div class="user-logged" style="display: none;"></div>
                                <% } %>

                                    <section class="order-detail-steps-container">
                                        <h1 class="order-detail-label"></h1>
                                        <div class="order-detail-user-arrows-container">
                                            <button class="step-back-btn">
                                                <i class='bx bx-chevron-left'></i>
                                            </button>

                                        </div>
                                        <div class="order-detail-user-position">

                                        </div>

                                    </section>
                                    <section class="checkout-steps-list-container">
                                        <div class="checkout-step-container first-step">
                                            <div class="checkout-first-step-first-column-container">
                                                <div class="order-detail-desktop-header-container">
                                                    <div class="order-detail-header-label-container"
                                                        id="product-label-container">
                                                        <p class="order-detail-header-label">Producto</p>
                                                    </div>
                                                    <div class="order-detail-header-label-container">
                                                        <p class="order-detail-header-label">Precio unitario</p>
                                                    </div>
                                                    <div class="order-detail-header-label-container">
                                                        <p class="order-detail-header-label">Cantidad</p>
                                                    </div>
                                                    <div class="order-detail-header-label-container">
                                                        <p class="order-detail-header-label">Total</p>
                                                    </div>
                                                </div>
                                                <div class="order-detail-cards-container">
                                                    <div class="order-item" data-productid="1">
                                                        <div class="order-item-image-container">
                                                            <img src="/img/products/dresses/dress1.webp"
                                                                alt="order-item" class="order-item-image">
                                                        </div>
                                                        <div class="order-item-mobile-info-container">
                                                            <div class="order-item-name-delete-container">
                                                                <p class="order-item-name">Vestido Azul Fashion</p>
                                                                <button class='delete-checkout-product-btn'
                                                                    data-productid="2">
                                                                    <i class='bx bx-x'></i>
                                                                </button>
                                                            </div>
                                                            <p class="order-item-size">Size: Medium</p>
                                                            <p class="order-item-color">Color: Beige</p>
                                                            <div class="order-item-quantity-container">
                                                                <span>Cantidad:</span>
                                                                <i
                                                                    class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                                                                <span class="order-item-quantity">1</span>
                                                                <i
                                                                    class='bx bx-plus item-quantity-btn add-item-quantity'></i>
                                                            </div>

                                                            <div class="item-amount-container">
                                                                <span class="ar-prefix">Total: $</span>
                                                                <span
                                                                    class="order-item-price mobile-order-item-price">20000</span>
                                                            </div>

                                                        </div>
                                                        <div class="order-item-desktop-info-container">
                                                            <div
                                                                class="order-item-desktop-label-container product-name-container">
                                                                <div class="first-label-column-container">
                                                                    <p class="order-item-name">Vestido Azul</p>
                                                                    <div class="order-item-size-container">
                                                                        <span class="size-prefix">Talle:</span>
                                                                        <p class="order-item-size">Medium</p>
                                                                    </div>
                                                                </div>

                                                                <button class='delete-checkout-product-btn'
                                                                    data-productid="1">
                                                                    <i class='bx bx-x'></i>

                                                                </button>

                                                            </div>
                                                            <div
                                                                class="order-item-desktop-label-container unit-desktop-price-container">
                                                                <span class="unit-price-prefix">$</span>
                                                                <span class="desktop-unit-price">20000</span>
                                                            </div>
                                                            <div
                                                                class="order-item-desktop-label-container order-item-desktop-quantity-container">
                                                                <i
                                                                    class='bx bx-minus desktop-item-quantity-btn substract-item-quantity'></i>
                                                                <span class="desktop-order-item-quantity">1</span>
                                                                <i
                                                                    class='bx bx-plus desktop-item-quantity-btn add-item-quantity'></i>
                                                            </div>

                                                            <div
                                                                class="order-item-desktop-label-container item-desktop-amount-container">
                                                                <span class="unit-price-prefix">$</span>
                                                                <span
                                                                    class="order-item-price desktop-order-item-price">20000</span>
                                                            </div>


                                                        </div>


                                                    </div>

                                                    <div class="order-item" data-productid="2">
                                                        <div class="order-item-image-container">
                                                            <img src="/img/products/jewlery/ring.webp" alt="order-item"
                                                                class="order-item-image">
                                                        </div>
                                                        <div class="order-item-mobile-info-container">
                                                            <div class="order-item-name-delete-container">
                                                                <p class="order-item-name">Vestido Azul Fashion</p>
                                                                <button class='delete-checkout-product-btn'
                                                                    data-productid="2">
                                                                    <i class='bx bx-x'></i>
                                                                </button>
                                                            </div>
                                                            <p class="order-item-size">Size: Medium</p>
                                                            <p class="order-item-color">Color: Beige</p>
                                                            <div class="order-item-quantity-container">
                                                                <span>Cantidad:</span>
                                                                <i
                                                                    class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                                                                <span class="order-item-quantity">1</span>
                                                                <i
                                                                    class='bx bx-plus item-quantity-btn add-item-quantity'></i>
                                                            </div>
                                                            <div class="item-amount-container">
                                                                <span class="ar-prefix">Total: $</span>
                                                                <span
                                                                    class="order-item-price mobile-order-item-price">15000</span>
                                                            </div>



                                                        </div>
                                                        <div class="order-item-desktop-info-container">
                                                            <div
                                                                class="order-item-desktop-label-container product-name-container">
                                                                <div class="first-label-column-container">
                                                                    <p class="order-item-name">Anillo Fashion</p>
                                                                    <div class="order-item-size-container">
                                                                        <span class="size-prefix">Talle:</span>
                                                                        <p class="order-item-size">Medium</p>
                                                                    </div>
                                                                </div>

                                                                <button class='delete-checkout-product-btn'
                                                                    data-productid="2">
                                                                    <i class='bx bx-x'></i>

                                                                </button>
                                                            </div>

                                                            <div
                                                                class="order-item-desktop-label-container unit-desktop-price-container">
                                                                <span class="unit-price-prefix">$</span>
                                                                <span class="desktop-unit-price">15000</span>
                                                            </div>

                                                            <div
                                                                class="order-item-desktop-label-container order-item-desktop-quantity-container">
                                                                <i
                                                                    class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                                                                <span class="desktop-order-item-quantity">1</span>
                                                                <i
                                                                    class='bx bx-plus item-quantity-btn add-item-quantity'></i>
                                                            </div>

                                                            <div
                                                                class="order-item-desktop-label-container item-desktop-amount-container">
                                                                <span class="unit-price-prefix">$</span>
                                                                <span
                                                                    class="order-item-price desktop-order-item-price">15000</span>
                                                            </div>


                                                        </div>
                                                    </div>

                                                    <div class="order-item" data-productid="3">
                                                        <div class="order-item-image-container">
                                                            <img src="/img/products/handbags/bag1.avif" alt="order-item"
                                                                class="order-item-image">
                                                        </div>
                                                        <div class="order-item-mobile-info-container">
                                                            <div class="order-item-name-delete-container">
                                                                <p class="order-item-name">Vestido Azul Fashion</p>
                                                                <button class='delete-checkout-product-btn'
                                                                    data-productid="2">
                                                                    <i class='bx bx-x'></i>
                                                                </button>
                                                            </div>
                                                            <p class="order-item-size">Size: Medium</p>
                                                            <p class="order-item-color">Color: Beige</p>
                                                            <div class="order-item-quantity-container">
                                                                <span>Cantidad:</span>
                                                                <i
                                                                    class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                                                                <span class="order-item-quantity">1</span>
                                                                <i
                                                                    class='bx bx-plus item-quantity-btn add-item-quantity'></i>
                                                            </div>
                                                            <div class="item-amount-container">
                                                                <span class="ar-prefix">Total: $</span>
                                                                <span
                                                                    class="order-item-price mobile-order-item-price">17000</span>
                                                            </div>



                                                        </div>
                                                        <div class="order-item-desktop-info-container">
                                                            <div
                                                                class="order-item-desktop-label-container product-name-container">
                                                                <div class="first-label-column-container">
                                                                    <p class="order-item-name">Anillo Fashion</p>
                                                                    <div class="order-item-size-container">
                                                                        <span class="size-prefix">Talle:</span>
                                                                        <p class="order-item-size">Medium</p>
                                                                    </div>
                                                                </div>

                                                                <button class='delete-checkout-product-btn'
                                                                    data-productid="2">
                                                                    <i class='bx bx-x'></i>

                                                                </button>
                                                            </div>

                                                            <div
                                                                class="order-item-desktop-label-container unit-desktop-price-container">
                                                                <span class="unit-price-prefix">$</span>
                                                                <span class="desktop-unit-price">17000</span>
                                                            </div>

                                                            <div
                                                                class="order-item-desktop-label-container order-item-desktop-quantity-container">
                                                                <i
                                                                    class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                                                                <span class="desktop-order-item-quantity">1</span>
                                                                <i
                                                                    class='bx bx-plus item-quantity-btn add-item-quantity'></i>
                                                            </div>

                                                            <div
                                                                class="order-item-desktop-label-container item-desktop-amount-container">
                                                                <span class="unit-price-prefix">$</span>
                                                                <span
                                                                    class="order-item-price desktop-order-item-price">17000</span>
                                                            </div>


                                                        </div>
                                                    </div>

                                                    <div class="order-item" data-productid="3">
                                                        <div class="order-item-image-container">
                                                            <img src="/img/products/handbags/bag1.avif" alt="order-item"
                                                                class="order-item-image">
                                                        </div>
                                                        <div class="order-item-mobile-info-container">
                                                            <div class="order-item-name-delete-container">
                                                                <p class="order-item-name">Otro elemento</p>
                                                                <button class='delete-checkout-product-btn'
                                                                    data-productid="2">
                                                                    <i class='bx bx-x'></i>
                                                                </button>
                                                            </div>
                                                            <p class="order-item-size">Size: Large</p>
                                                            <p class="order-item-color">Color: Beige</p>
                                                            <div class="order-item-quantity-container">
                                                                <span>Cantidad:</span>
                                                                <i
                                                                    class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                                                                <span class="order-item-quantity">1</span>
                                                                <i
                                                                    class='bx bx-plus item-quantity-btn add-item-quantity'></i>
                                                            </div>
                                                            <div class="item-amount-container">
                                                                <span class="ar-prefix">Total: $</span>
                                                                <span
                                                                    class="order-item-price mobile-order-item-price">12000</span>
                                                            </div>



                                                        </div>
                                                        <div class="order-item-desktop-info-container">
                                                            <div
                                                                class="order-item-desktop-label-container product-name-container">
                                                                <div class="first-label-column-container">
                                                                    <p class="order-item-name">Otro producto</p>
                                                                    <div class="order-item-size-container">
                                                                        <span class="size-prefix">Talle:</span>
                                                                        <p class="order-item-size">Large</p>
                                                                    </div>
                                                                </div>

                                                                <button class='delete-checkout-product-btn'
                                                                    data-productid="2">
                                                                    <i class='bx bx-x'></i>

                                                                </button>
                                                            </div>

                                                            <div
                                                                class="order-item-desktop-label-container unit-desktop-price-container">
                                                                <span class="unit-price-prefix">$</span>
                                                                <span class="desktop-unit-price">12000</span>
                                                            </div>

                                                            <div
                                                                class="order-item-desktop-label-container order-item-desktop-quantity-container">
                                                                <i
                                                                    class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                                                                <span class="desktop-order-item-quantity">1</span>
                                                                <i
                                                                    class='bx bx-plus item-quantity-btn add-item-quantity'></i>
                                                            </div>

                                                            <div
                                                                class="order-item-desktop-label-container item-desktop-amount-container">
                                                                <span class="unit-price-prefix">$</span>
                                                                <span
                                                                    class="order-item-price desktop-order-item-price">12000</span>
                                                            </div>


                                                        </div>
                                                    </div>



                                                </div>


                                            </div>
                                            <div class="checkout-first-step-second-column-container">
                                                <div class="checkout-first-step-second-column-content-container">
                                                    <div class="total-order-price-container">
                                                        <p class="total-order-price-label">Precio total</p>
                                                        <div class="total-amount-container">
                                                            <span>$</span>
                                                            <p class="total-order-price"></p>
                                                        </div>
                                                    </div>
                                                    <div class="start-purchase-btn-container">
                                                        <button class="start-purchase-btn">Iniciar compra</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="checkout-step-container second-step">

                                            <div class="checkout-second-step-btn-container">
                                                <button class="checkout-login-btn checkout-second-step-btn">Logueate
                                                    para comprar</button>
                                            </div>
                                            <div class="checkout-second-step-btn-container">
                                                <button class="checkout-register-btn checkout-second-step-btn">No
                                                    tenés una cuenta? Creá una</button>
                                            </div>

                                            <div class="checkout-second-step-btn-container">
                                                <button class="checkout-as-guest-btn checkout-second-step-btn">Comprá
                                                    como invitado</button>
                                            </div>



                                        </div>
                                        <div class="checkout-step-container third-step">

                                            <div class="third-step-first-column-container">

                                                <div class="column-content-container first">
                                                    <h2>Entrega</h2>

                                                    <form class="shipment-mode">
                                                        <div class="radio-label-container">
                                                            <label
                                                                class="ship-type-custom-label custom-label custom-label-active">
                                                                <input type="radio" name="shipment-mode-input"
                                                                    class="ship-to-address" checked>

                                                            </label>
                                                            <p>Envío a domicilio</p>
                                                        </div>
                                                        <div class="radio-label-container">
                                                            <label class="ship-type-custom-label custom-label">
                                                                <input type="radio" name="shipment-mode-input"
                                                                    class="pick-up">

                                                            </label>
                                                            <p>Retiro por local</p>
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="column-content-container second">
                                                    <h2>Método de pago</h2>

                                                    <div class="radio-label-container">
                                                        <label
                                                            class="payment-type-custom-label custom-label custom-label-active">
                                                            <input type="radio" name="payment-type-input">

                                                        </label>
                                                        <p>Mercado Pago</p>

                                                    </div>

                                                    <div class="radio-label-container">
                                                        <label class="payment-type-custom-label custom-label">
                                                            <input type="radio" name="payment-type-input">

                                                        </label>
                                                        <p>Transferencia</p>

                                                    </div>

                                                    <div class="radio-label-container">
                                                        <label class="payment-type-custom-label custom-label">
                                                            <input type="radio" name="payment-type-input"
                                                                class="pick-up">

                                                        </label>
                                                        <p>Efectivo</p>

                                                    </div>

                                                </div>

                                            </div>

                                            <div class="third-step-second-column-container">
                                                <h2>Datos</h2>



                                                <form class="shipping-data">

                                                    <% if (locals.isLogged) { %>
                                                        <div class="checkbox-label-container">
                                                            <input type="checkbox" class="complete-with-user-data">
                                                            <label for="complete-with-user-data">Completar con datos de
                                                                usuario</label>
                                                        </div>

                                                    <% } %>

                                                            <div class="input-label-container">
                                                                <label for="name">Nombre</label>
                                                                <input type="text" name="name" value=<%
                                                                    locals.userLogged && locals.userLogged.name ?
                                                                    locals.userLogged.name : '' %>>
                                                                <div class="error-front"></div>
                                                            </div>

                                                            <div class="input-label-container">
                                                                <label for="last_name">Apellido</label>
                                                                <input type="text" name="last_name" value=<%
                                                                    locals.userLogged && locals.userLogged.last_name ?
                                                                    locals.userLogged.last_name : '' %>>
                                                                <div class="error-front"></div>
                                                            </div>

                                                            <div class="phone-input-container">
                                                                <label for="phone_number">Telefono</label>
                                                                <div>
                                                                    <select name="phone-code" id="">
                                                                        <% countryCodes.forEach(country=> { %>
                                                                            <option value=<%=country.id %>
                                                                                <%= country.code==54 && 'selected' %> >
                                                                                    (+
                                                                                    <%= country.code %>) <%=
                                                                                            country.country_name %>
                                                                            </option>
                                                                            <% }) %>
                                                                    </select>
                                                                    <input type="text" id="phone_number" name="phone_number"
                                                                        placeholder="1154676543">
                                                                    <div class="error-front"></div>
                                                                </div>
                                                            </div>

                                                            <div class="input-label-container">
                                                                <label for="address">Dirección</label>
                                                                <input type="text" name="address" value=<%
                                                                    locals.userLogged && locals.userLogged.address ?
                                                                    locals.userLogged.address : '' %>>
                                                                <div class="error-front"></div>
                                                            </div>
                                                            <div class="input-label-container">
                                                                <label for="city">Ciudad</label>
                                                                <input type="text" name="city" value=<%
                                                                    locals.userLogged && locals.userLogged.city ?
                                                                    locals.userLogged.city : '' %>>
                                                                <div class="error-front"></div>
                                                            </div>
                                                            <div class="input-label-container">
                                                                <label for="province">Provincia</label>
                                                                <input type="text" name="province" value=<%
                                                                    locals.userLogged && locals.userLogged.province ?
                                                                    locals.userLogged.province : '' %>>
                                                                <div class="error-front"></div>
                                                            </div>

                                                            <div class="input-label-container">
                                                                <label for="province">Código postal</label>
                                                                <input type="text" name="zip-code" value=<%
                                                                    locals.userLogged && locals.userLogged.zip_code ?
                                                                    locals.userLogged.zip_code : '' %>>
                                                                <div class="error-front"></div>
                                                            </div>

                                                            <div class="purchase-item-btn-container">
                                                                <button class="purchase-item-btn"
                                                                    type="submit">Continuar al Pago</button>
                                                            </div>

                                                </form>
                                            </div>



                                        </div>

                                    </section>


                                    <div class="no-products-in-cart-container">
                                        <h2>Ups... no hay productos en el carrito</h2>
                                    </div>
                        </main>

                        <%- include('./partials/footer.ejs') %>
</body>

</html>