<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="./css/index.css">
        <script type="module" src="./scripts/indexScript.js"></script>
        <title>Home</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main class="main">
            <section class="landing-video-container">
                <video class="video" src="<%= videoFile.file_url %>" playsinline muted autoplay loop></video>
                <% if (locals.userLogged && (locals.userLogged.user_categories_id==1 ||
                    locals.userLogged.user_categories_id==2)) { %>
                    <form class="edit-file-overlay edit-home-video-container" method="POST"
                        action='/updateHomeFile?_method=PUT' enctype="multipart/form-data"
                        data-sectionid="<%= videoFile?.home_sections_id %>" data-position="<%= videoFile?.position %>">
                        <div class="edit-file-buttons-container">
                            <div class="change-image-btn-container">
                                <i class='bx bx-pencil change-image-btn'></i><br>
                            </div>
                            <p class="cancel-file-action hidden">Cancelar</p>
                            <label for="home-video" class="instagram-input-file-label hidden">Selecci贸nar video</label>
                            <input type="file" accept="video/*" name="homeFile" id="home-video"
                                class="edit-file-input hidden">
                            <button type="submit" class="confirm-instagram-file-btn hidden">Confirmar</button>
                        </div>
                    </form>
                    <% } %>
            </section>
            <section class="slide-show" id="products">
                <a href="/product" class="slide-show-button">Ir a la tienda <i class='bx bx-shopping-bag'></i></a>
                <div class="slide-images-wraper slide-images-wraper-desktop">
                    <div class="slide-image-group slide-image-group-active">
                        <div class="slide-image-container">
                            <img src="/img/product1.png" alt="slide-product-image" class="slide-image">
                            <p class="slide-image-label bold">Crema Restauradora</p>
                        </div>
                        <div class="slide-image-container">
                            <img src="/img/product2.png" alt="slide-product-image" class="slide-image">
                            <p class="slide-image-label bold">Crema Restauradora</p>
                        </div>
                        <div class="slide-image-container">
                            <img src="/img/product3.png" alt="slide-product-image" class="slide-image">
                            <p class="slide-image-label bold">Crema Restauradora</p>
                        </div>
                    </div>
                    <div class="slide-image-group slide-image-group-next">
                        <div class="slide-image-container">
                            <img src="/img/product1.png" alt="slide-product-image" class="slide-image">
                            <p class="slide-image-label bold">Crema Restauradora</p>
                        </div>
                        <div class="slide-image-container">
                            <img src="/img/product2.png" alt="slide-product-image" class="slide-image">
                            <p class="slide-image-label bold">Crema Restauradora</p>
                        </div>
                        <div class="slide-image-container">
                            <img src="/img/product3.png" alt="slide-product-image" class="slide-image">
                            <p class="slide-image-label bold">Crema Restauradora</p>
                        </div>
                    </div>
                    <div class="slide-image-group slide-image-group-prev">
                        <div class="slide-image-container">
                            <img src="/img/product1.png" alt="slide-product-image" class="slide-image">
                            <p class="slide-image-label bold">Crema Restauradora</p>
                        </div>
                        <div class="slide-image-container">
                            <img src="/img/product2.png" alt="slide-product-image" class="slide-image">
                            <p class="slide-image-label bold">Crema Restauradora</p>
                        </div>
                        <div class="slide-image-container">
                            <img src="/img/product3.png" alt="slide-product-image" class="slide-image">
                            <p class="slide-image-label bold">Crema Restauradora</p>
                        </div>
                    </div>
                </div>
                <div class="slide-images-wraper slide-images-wraper-mobile">
                    <!-- Grupos de 1 (Mobile) -->
                    <div class="slide-image-group slide-image-group-active">
                        <div class="slide-image-container">
                            <img src="/img/product1.png" alt="slide-product-image" class="slide-image">
                            <p class="slide-image-label bold">Crema Restauradora</p>
                        </div>
                    </div>
                    <div class="slide-image-group slide-image-group-next">
                        <div class="slide-image-container">
                            <img src="/img/product2.png" alt="slide-product-image" class="slide-image">
                            <p class="slide-image-label bold">Crema Restauradora</p>
                        </div>
                    </div>
                    <div class="slide-image-group slide-image-group-prev">
                        <div class="slide-image-container">
                            <img src="/img/product3.png" alt="slide-product-image" class="slide-image">
                            <p class="slide-image-label bold">Crema Restauradora</p>
                        </div>
                    </div>
                    <div class="slide-image-group slide-image-group-prev">
                        <div class="slide-image-container">
                            <img src="/img/product4.png" alt="slide-product-image" class="slide-image">
                            <p class="slide-image-label bold">Crema Restauradora</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="gallery-show" id="services">
                <% galleryFiles.forEach(file=>{ %>
                    <div class="product-gallery-card">

                        <a href="/servicios">
                            <div class="overlay"></div>
                            <img src="<%= file.file_url %>" class="gallery-image" alt="<%= file.filename %>">
                            <div class="gallery-product-detail">
                                <p class="gallery-product-name">
                                    <%= homePageLabels.galleryShowLabels.find(homeLab=>homeLab.position == file.position).label %>
                                </p>
                            </div>
                            <% if(locals.userLogged && (locals.userLogged.user_categories_id==1 ||
                                locals.userLogged.user_categories_id==2)){ %>
                                <form class="edit-file-overlay gallery-overlay" method="POST"
                                    action='/updateHomeFile?_method=PUT' enctype="multipart/form-data"
                                    data-sectionid="<%= file?.home_sections_id %>"
                                    data-position="<%= file?.position %>">
                                    <div class="edit-file-buttons-container">
                                        <div class="change-image-btn-container">
                                            <i class='bx bx-pencil change-image-btn'></i><br>
                                        </div>
                                        <p class="cancel-file-action hidden">Cancelar</p>
                                        <label for="gallery-image-1"
                                            class="instagram-input-file-label hidden">Selecci贸nar
                                            foto</label>
                                        <input type="file" accept="image/*" name="homeFile" id="gallery-image-1"
                                            class="edit-file-input hidden">
                                        <button type="submit"
                                            class="confirm-instagram-file-btn hidden">Confirmar</button>
                                    </div>
                                </form>
                                <% } %>
                        </a>
                        <a href="/servicios" class="product-gallery-button individual-button">Ver
                            Servicios</a>
                    </div>
                    <% }) %>

            </section>

            <section class="about-us-container" id="us">
                <img src="/img/homePage/rightPattern.png" alt="about-us-pattern" class="pattern right-pattern">
                <img src="/img/homePage/leftPattern.png" alt="about-us-pattern" class="pattern left-pattern">
                <div class="about-us-information-container">
                    <p class="about-us-information-title bold">SOMOS I SMILE</p>
                    <p class="about-us-information-subtitle">Somos una cl铆nica de est茅tica de vanguardia especializada en Armonizaci贸n Facial, Est茅tica Dental y Medicina Regenerativa.</p>
                    <div class="about-us-frames-space">
                        <div class="about-us-frames-container">
                            <article class="about-us-small-frame about-us-frame about-us-frame-active">
                                <p class="about-us-frame-title bold">SERVICIO INTEGRAL</p>
                                <p class="about-us-information">
                                    Trabajamos en equipo con nuestros especialistas con una visi贸n de cada especialidad
                                    para lograr un bienestar y una est茅tica global.
                                </p>
                            </article>
                            <article class="about-us-big-frame about-us-frame about-us-frame-next">
                                <p class="about-us-frame-title bold uppercase">INNOVAci贸n</p>
                                <p class="about-us-information">
                                    Nuestros conocimientos y constante capacitaci贸n e investigaci贸n
                                    sobre los 煤ltimos avances en odontolog铆a y medicina est茅tica
                                    nos permiten estar a la vanguardia de las tendencias y descubrimientos
                                    est茅ticos a nivel mundial.

                                </p>
                            </article>
                            <article class="about-us-small-frame about-us-frame about-us-frame-prev">
                                <p class="about-us-frame-title bold">ALTOS ESTANDARES</p>
                                <p class="about-us-information">
                                    Profesionales especializados con las t茅cnicas m谩s novedosas en combinaci贸n con los
                                    mejores productos para cumplir nuestro principal objetivo: <br>
                                    <span class="bold">que cada uno de
                                        nuestros pacientes se vaya con una sonrisa.</span>
                                </p>
                            </article>
                        </div>
                    </div>
                    <div class="about-us-dots-container">
                        <div class="about-us-dot about-us-dot-active"></div>
                        <div class="about-us-dot"></div>
                        <div class="about-us-dot"></div>
                    </div>


                </div>
            </section>
            
            <section class="blog-section" id="blog">
                <div class="blog-background">
                    <p class="blog-section-title">The <span class="bold">I smile</span> Blog</p>
                    <div class="see-all-blogs-container">
                        <a href="/blog" class="see-all-blogs">Ver Blogs</a>
                    </div>
                    
                    <img src="<%= blogFile.file_url %>" alt="background-image"
                        class="blog-background-image">
                    <% if (locals.userLogged && (locals.userLogged.user_categories_id==1 ||
                        locals.userLogged.user_categories_id==2) ) { %>
                        <form class="edit-file-overlay blog-overlay" method="POST" action='/updateHomeFile?_method=PUT'
                            enctype="multipart/form-data" data-sectionid="<%= blogFile.home_sections_id %>"
                            data-position="<%= blogFile.position %>">
                            <div class="edit-file-buttons-container">
                                <div class="change-image-btn-container">
                                    <i class='bx bx-pencil change-image-btn'></i><br>
                                </div>
                                <p class="cancel-file-action hidden">Cancelar</p>
                                <label for="blog-image" class="instagram-input-file-label hidden">Selecci贸nar
                                    foto</label>
                                <input type="file" accept="image/*" name="homeFile" id="blog-image"
                                    class="edit-file-input hidden">
                                <button type="submit" class="confirm-instagram-file-btn hidden">Confirmar</button>
                            </div>
                        </form>
                        <% } %>
                </div>
                <div class="blogs-cards-container">
                    <div class="blog-group blog-group-active">
                        <article class="blog-card">
                            <a href="./blog/1">
                                <div class="card-overlay"></div>
                                <img src="/img/estheticblog1.jpg" alt="blog-image" class="blog-img">
                                <div class="blog-info">
                                    <p class="blog-title">La Verdadera Belleza Es Cuando Te Pones A Quien Realmente
                                        Sos
                                    </p>
                                    <p class="blog-author">by <span class="bold">Ines A帽贸</span></p>
                                    <p class="blog-date">Apr 21, 2023</p>
                                </div>
                            </a>

                        </article>
                        <article class="blog-card">
                            <a href="./blog/1">
                                <div class="card-overlay"></div>
                                <img src="/img/estheticblog2.jpg" alt="blog-image" class="blog-img">
                                <div class="blog-info">
                                    <p class="blog-title">Lifting Liquido _ RADIESSE ぉ</p>
                                    <p class="blog-author">by <span class="bold blog-name">Ines A帽贸</span></p>
                                    <p class="blog-date">Apr 21, 2023</p>
                                </div>
                            </a>
                        </article>
                        <article class="blog-card">
                            <a href="./blog/1">
                                <div class="card-overlay"></div>
                                <img src="/img/estheticblog3.jpg" alt="blog-image" class="blog-img">
                                <div class="blog-info">
                                    <p class="blog-title">DEFINICIN MANDIBULAR</p>
                                    <p class="blog-author">by <span class="bold">Ines A帽贸</span></p>
                                    <p class="blog-date">Apr 21, 2023</p>
                                </div>
                            </a>
                        </article>
                        
                    </div>
                    <div class="blog-group blog-group-next">
                        <article class="blog-card">
                            <div class="card-overlay"></div>
                            <img src="/img/estheticblog4.jpg" alt="blog-image" class="blog-img">
                            <div class="blog-info">
                                <p class="blog-title">MASCULINIZACIN FACIAL</p>
                                <p class="blog-author">by Cherly Bentancourt</p>
                                <p class="blog-date">Apr 21, 2023</p>
                            </div>
                        </article>
                        <article class="blog-card">
                            <div class="card-overlay"></div>
                            <img src="/img/estheticblog5.jpg" alt="blog-image" class="blog-img">
                            <div class="blog-info">
                                <p class="blog-title">MASCULINIZACIN FACIAL</p>
                                <p class="blog-author">by Ines A帽贸</p>
                                <p class="blog-date">Mar 21, 2023</p>
                            </div>
                        </article>
                        <article class="blog-card">
                            <div class="card-overlay"></div>
                            <img src="/img/estheticblog6.jpg" alt="blog-image" class="blog-img">
                            <div class="blog-info">
                                <p class="blog-title">Acido Hialuronico Para #Ojeras</p>
                                <p class="blog-author">by Ines A帽贸</p>
                                <p class="blog-date">Mar 22, 2023</p>
                            </div>
                        </article>
                    </div>

                </div>
            </section>


            
            <section class="instagram-container">
                <p class="instagram-label bold">SIGUENOS</p>
                <div class="instagram-cards-container">
                    <% igFiles.forEach((file,i)=>{ %>
                        <div class="instagram-card <%= i==0 ? 'instagram-card-active' : '' %>">
                        <a target="_blank" href="https://www.instagram.com/ismile.estetica/">
                            <% if (locals.userLogged && (locals.userLogged.user_categories_id==1 ||
                                locals.userLogged.user_categories_id==2) ) { %>
                                <form class="instagram-overlay edit-file-overlay" method="POST"
                                    action='/updateHomeFile?_method=PUT' enctype="multipart/form-data"
                                    data-sectionid="<%= file?.home_sections_id %>"
                                    data-position="<%= file?.position %>">
                                    <div class="edit-file-buttons-container">
                                        <div class="change-image-btn-container">
                                            <i class='bx bx-pencil change-image-btn'></i><br>
                                        </div>
                                        <p class="cancel-file-action hidden">Cancelar</p>
                                        <label for="instagram-input1"
                                            class="instagram-input-file-label hidden">Selecci贸nar foto</label>
                                        <input type="file" accept="image/*" name="homeFile" id="instagram-input1"
                                            class="edit-file-input hidden">
                                        <button type="submit"
                                            class="confirm-instagram-file-btn hidden">Confirmar</button>
                                    </div>
                                </form>
                                <% }else{ %>
                                    <div class="instagram-client-overlay">
                                        <div class="photo-label-container">
                                            <i class="fa-brands fa-instagram instagram-logo"></i>
                                            <p class="instagram-page-name">@ismile.estetica</p>
                                        </div>
                                    </div>
                                    <% } %>
                                        <img src="<%= file.file_url %>" alt="instagram-image"
                                            class="instagram-image">
                        </a>
                    </div>
                    <% }) %>
                    
                </div>
            </section>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>