<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="./css/index.css">
        <script type="module" src="./scripts/indexScript.js"></script>
        <title>Home</title>
</head>

<body>
<<<<<<< HEAD
    <%- include('./partials/header.ejs') %>
        <main class="main">
            <div class="landing-video-container">
                <video class="video" src="/video/home.mp4" muted autoplay></video>
            </div>
            <div class="slide-show">
                <button class="slide-show-button"><a href="#">Ver productos</a></button>
                <div class="slide-image-container">
                    <img src="/img/crema2.png" alt="" class="slide-image">
                    <p class="slide-image-label">Crema Restauradora</p>
                </div>
                <div class="slide-image-container">
                    <img src="/img/crema2.png" alt="" class="slide-image">
                    <p class="slide-image-label">Crema Restauradora</p>
                </div>
                <div class="slide-image-container">
                    <img src="/img/crema2.png" alt="" class="slide-image">
                    <p class="slide-image-label">Crema Restauradora</p>
                </div>
            </div>
            <div class="gallery-show">
                <div class="product-gallery-card">
                    <a href="/servicios">
                        <img src="./img/face.jpg" class="gallery-image" alt="gallery-image">
                        <div class="gallery-product-detail">
                            <p class="gallery-product-name">Harmonizacion
                                facial
                            </p>
                        </div>
                    </a>
                </div>
                <div class="product-gallery-card">
                    <a href="/servicios">
                        <img src="./img/lips.jpg" class="gallery-image" alt="gallery-image">
                        <div class="gallery-product-detail">
                            <p class="gallery-product-name">Labios</p>
=======
  
        <%- include('./partials/blackScreen.ejs') %>
            <%- include('./partials/login.ejs') %>
                <%- include('./partials/header.ejs') %>
                    <%- include('./partials/registrationForm.ejs') %>
                        <%- include('partials/shoppingCartPopup.ejs') %>
                            <%- include('partials/wishlist.ejs') %>
                            <%- include('partials/userOptionsPopup.ejs') %>
                                <main class="index-main">
>>>>>>> cf1174574f24a3db80b5d10a2f122c9a22a951e1

                        </div>
                    </a>
                </div>
                <div class="product-gallery-card">
                    <a href="/servicios">
                        <img src="./img/nose.jpg" class="gallery-image" alt="gallery-image">
                        <div class="gallery-product-detail">
                            <p class="gallery-product-name">Rinomodelacion</p>

                        </div>
                    </a>
                </div>
                <div class="product-gallery-card">
                    <a href="/servicios">
                        <img src="./img/botox.jpg" class="gallery-image" alt="gallery-image">
                        <div class="gallery-product-detail">
                            <p class="gallery-product-name">Botox</p>

                        </div>
                    </a>
                </div>
                <div class="product-gallery-card">
                    <a href="/servicios">
                        <img src="./img/hair.jpg" class="gallery-image" alt="gallery-image">
                        <div class="gallery-product-detail">
                            <p class="gallery-product-name">Masculinizacion facial</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="about-us-container">
                <div class="about-us-information-container">
                    <p class="about-us-information-title">SOMOS ISMILE</p>
                    <div class="about-us-information-paragraph">
                        <p class="about-us-information">
                            <span class="violet">Clínica de estética dental, facial y corporal</span>
                            Creemos que la belleza se origina en la Salud y a partir de ella trabajamos brindando un
                            servicio integral de excelencia en estética.
                        </p>
                    </div>
                    <div class="about-us-information-paragraph">
                        <p class="about-us-information">
                            Nuestros conocimientos y constante capacitación e investigación sobre los últimos avances en
                            odontología y medicina estética nos permiten estar <span class="violet bigger-text">a la
                                vanguardia de las tendencias y
                                descubrimientos biológicos a nivel mundial.</span>
                        </p>
                    </div>
                    <div class="about-us-information-paragraph">
                        <p class="about-us-information">
                            Todo esto combinado con el uso de aparatología y productos de alta gama nos permite cumplir
                            con <span class="violet bold">nuestro objetivo principal: que cada uno de nuestros pacientes
                                se vaya con una sonrisa.</span>
                        </p>
                    </div>

                </div>
                <div class="about-us-details-container">
                    <ul class="about-us-details-list">
                        <li class="about-us-list-item"><i class="fa-solid fa-user-doctor"></i>Profesionales Capacitados
                        </li>
                        <li class="about-us-list-item a-right"><i class="fa-regular fa-face-smile"></i>Family Friendly</li>
                        <li class="about-us-list-item">Consultorios Ultra Asepticos</li>
                        <li class="about-us-list-item a-right"><i class='bx bx-home-alt-2'></i>Excelente Ubicacion</li>
                        <li class="about-us-list-item"><i class="fa-solid fa-tooth"></i>Odontologia Laser</li>
                        <li class="about-us-list-item a-right"><i class="fa-regular fa-clock"></i>Poco Tiempo de Espera</li>
                        <li class="about-us-list-item"><i class='bx bx-gift'></i>Precios Especiales</li>
                        <li class="about-us-list-item a-right">Innovacion Tecnologica</li>
                        <li class="about-us-list-item"><i class='bx bx-shield'></i>Garantia de Satisfaccion</li>
                        <li class="about-us-list-item a-right"><i class="fa-solid fa-microscope"></i>Materiales de Alta Calidad
                        </li>
                        <li class="about-us-list-item"><i class="fa-regular fa-credit-card"></i>Todos los Medios de Pago
                        </li>
                        <li class="about-us-list-item a-right"><i class="fa-solid fa-teeth"></i>Radiografias</li>
                    </ul>
                </div>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>