<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="./css/index.css">
        <script src="./scripts/indexScript.js"></script>
        <title>Home</title>
</head>

<body>
  
        <%- include('./partials/blackScreen.ejs') %>
            <%- include('./partials/login.ejs') %>
                <%- include('./partials/header.ejs') %>
                    <%- include('./partials/registrationForm.ejs') %>
                        <%- include('partials/shoppingCartPopup.ejs') %>
                            <%- include('partials/wishlist.ejs') %>
                            <%- include('partials/userOptionsPopup.ejs') %>
                                <main class="index-main">

                                    <!-- Foto portada -->
                                    <div class="carrusel-image-container">
                                        <img src="./img/homePage/snicker.avif" alt="">
                                        <div class="sticky-options-container">

                                            <p class="sticky-options-title">EXCLUSIVELY ONLINE: LV ARCHLIGHT 2.0</p>
                                            <a href="/product">Discover the Collection</a>
                                        </div>
                                    </div>   
                                    <!-- Video -->
                                    <div class="carrusel-image-container video-container">
                                        <div class="controls-container">
                                            <div class="play-controls-container">
                                                <i class='bx bx-play play-btns'></i>
                                                <i class='bx bx-pause play-btns'></i>
                                            </div>
                                            <div class="volume-controls-container">
                                                <i class='bx bx-volume-full volume-controls'></i>
                                                <i class='bx bx-volume-mute volume-controls'></i>
                                            </div>
                                        </div>
                                        <video class="video" playsinline loop muted>
                                            <source
                                                src="https://lv-vod.fl.freecaster.net/vod/louisvuitton/m7EFVWqEVi_HD.mp4"
                                                type="video/mp4">
                                            <source
                                                src="https://lv-vod.fl.freecaster.net/vod/louisvuitton/m7EFVWqEVi_HD.mp4"
                                                type="video/webm">
                                            No se puede reproducir el video
                                        </video>
                                        <div class="sticky-options-container">
                                            <p class="sticky-options-title">ALTER EGO HORIZON LIGHT UP EARPHONES</p>
                                            <a href="/product">Discover the Collection</a>
                                        </div>
                                    </div>
                                    <!-- Galeria de fotos -->
                                    <div class="gallery-show-container">
                                        <div class="gallery-show-label-container">
                                            <p class="gallery-show-label">Ver Productos</p>
                                        </div>
                                        <% productsForGallery.forEach(prod=> { %>
                                            <div class="product-gallery-card">
                                                <a href="/test/<%= prod.id %>/<%= prod.colors[0].id %>">
                                                    <img src="./img/<%= prod.files[0].filename %>" class="gallery-image"
                                                        alt="gallery-image">
                                                    <div class="gallery-product-detail">
                                                        <p class="gallery-product-name">
                                                            <%= prod.name %>
                                                        </p>
                                                        <!-- Si vienen otros colores... -->
                                                        <% if (prod.otherColors.length) { %>
                                                            <div class="other-colors-container">
                                                                <p class="gallery-product-other-colors-label">Disponible
                                                                    tambien en:</p>
                                                                <% prod.otherColors.forEach(prodVar=> { %>
                                                                    <div class="gallery-product-other-colors-image-container">
                                                                        <img class="other-color-gallery-product-image"
                                                                            src="./img/<%= prodVar.filename %>" alt="">
                                                                    </div>
                                                                    <% }) %>

                                                            </div>
                                                            <% } %>
                                                    </div>
                                                </a>
                                            </div>

                                            <% }) %>
                                    </div>
                                    <!-- Foto portada -->
                                    <div class="carrusel-image-container">
                                        <img src="./img/homePage/homeImage2.jpg" alt="">
                                        <div class="sticky-options-container">
                                            <p class="sticky-options-title">THE NEW DAMIER</p>
                                            <a href="/product">Discover the Collection</a>
                                        </div>
                                    </div>
                                    <!-- Packaging - Delivery - Experience -->
                                    <div class="about-us-container">
                                        <div class="packaging-container column-container">
                                            <p class="topic-label">Packaging</p>
                                            <img src="./img/homepage/packaging.jpg" alt="packaging"
                                                class="active-image topic-image" />
                                            <video class="topic-video hidden" muted playsinline>
                                                <source src="./video/packaging.mp4" type="video/mp4">
                                                <source src="./video/packaging.mp4" type="video/webm">
                                                No se puede reproducir el video
                                            </video>
                                            <div class="view-more-container">
                                                <button type="button" class="view-more-button"><a href="#">Ver
                                                        más</a></button>
                                            </div>
                                        </div>
                                        <div class="experience-container column-container">
                                            <p class="topic-label">Experiencia Alter Ego</p>
                                            <img src="./img/homepage/experience.jpg" alt="packaging"
                                                class="active-image topic-image" />
                                            <video class="topic-video hidden" muted playsinline>
                                                <source src="./video/measuring.mp4" type="video/mp4">
                                                <source src="./video/measuring.mp4" type="video/webm">
                                                No se puede reproducir el video
                                            </video>
                                            <div class="view-more-container">
                                                <button type="button" class="view-more-button"><a href="#">Ver
                                                        más</a></button>
                                            </div>
                                        </div>
                                        <div class="delivery-container column-container">
                                            <p class="topic-label">Delivery</p>
                                            <img src="./img/homepage/delivery.jpg" alt="packaging"
                                                class="active-image topic-image" />
                                            <video class="topic-video hidden" muted playsinline>
                                                <source src="./video/delivery.mp4" type="video/mp4">
                                                <source src="./video/delivery.mp4" type="video/webm">
                                                No se puede reproducir el video
                                            </video>
                                            <div class="view-more-container">
                                                <button type="button" class="view-more-button"><a href="#">Ver
                                                        más</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </main>
                                <%- include('./partials/footer.ejs') %>
</body>

</html>