<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productCard.css">
    <link rel="stylesheet" href="/css/productDetail.css">
        <script src="/scripts/productDetail.js" type="module"></script>
        <script src="/scripts/productCard.js" type="module"></script>
        <title>Cartera #1</title>
</head>

<body>
    <%- include('./partials/wpp.ejs') %>
        <%- include('./partials/blackScreen.ejs') %>
            <%- include('./partials/login.ejs') %>
                <%- include('./partials/header.ejs') %>
                    <%- include('./partials/registrationForm.ejs') %>
                        <%- include('partials/shoppingCartPopup.ejs') %>
                            <%- include('partials/wishlist.ejs') %>
                            <%- include('partials/userOptionsPopup.ejs') %>
                                <main class="product-detail-main main desktop-main">
                                    <div class="images-info-container">
                                        <div class="carousel-container carousel-desktop">
                                            <div class="carousel-images-container">
                                                <img src="/img/<%= files[0].filename %>" alt="product-detail-image"
                                                    class="product-image" id="current-displayed-image">
                                            </div>
                                            <div class="side-images-container">
                                                <% files.forEach((file,i)=> { %>
                                                    <% if (file.file_types_id==1) { %> <!--Foto-->
                                                        <img src="/img/<%= file.filename %>" alt="product-detail-image"
                                                            class="product-image <%= i==0 && 'product-image-active' %> side-image side-image-desktop">
                                                        <% } else if(file.file_types_id==2 ){ %><!--Video-->
                                                            <video src="/video/<%= file.filename %>"
                                                                class="video product-image side-image side-image-desktop"
                                                                muted playsinline loop>
                                                            </video>
                                                            <% } %>
                                                                <% }) %>

                                            </div>
                                            <div class="scrollbar-carousel"></div>
                                        </div>
                                        <div class="carousel-container carousel-mobile">
                                            <div class="carousel-images-container">
                                                <% files.forEach((file,i)=> { %>
                                                    <% if (file.file_types_id==1) { %><!--Foto-->
                                                        <img src="/img/<%= file.filename %>" alt="product-detail-image"
                                                            class="product-image" id="current-displayed-image"
                                                            data-position=<%=i %>>
                                                        <% } else if(file.file_types_id==2){%><!--Video-->
                                                            <video src="/video/<%= file.filename %>"
                                                                class="video product-image side-image" muted playsinline
                                                                loop data-position=<%=i %>>

                                                                No se puede reproducir el video
                                                            </video>
                                                            <% } %>
                                                                <% }) %>
                                            </div>
                                            <div class="dots-carousel-container"></div>
                                        </div>
                                        <div class="product-info-container">
                                            <div class="favourite-logo-container">
                                                <% if (locals.isLogged && userLogged['user_categories_id']==1) { %>
                                                    <p class="last-time-edited">Ultima vez modificado: <%=
                                                            product.updatedAt %>
                                                    </p>
                                                    <i class="fa-solid fa-ellipsis-vertical admin-container-button"></i>
                                                    <div class="admin-actions-container">
                                                        <a href="/admin/editProduct/<%= product.id %>">Editar
                                                            producto</a>
                                                        <a href="#" class="delete-product-popup-toggler">Eliminar
                                                            producto</a>
                                                    </div>
                                                    <% }else{ %>
                                                        <% if (1==1) { %> <!-- CONDICION DE SI ESTA EN BOOKMARS -->
                                                            <i class="fa-regular fa-heart favourite-logo"></i>

                                                            <% }else{ %>
                                                                <i class="fa-solid fa-heart favourite-logo"></i>
                                                                <% } %>
                                                                    <% } %>
                                            </div>
                                            <div class="product-price-name-container">
                                                <p class="product-name">
                                                    <%= product.name %>
                                                </p>
                                                <p class="product-price">U$<%= product.price %>
                                                </p>
                                            </div>
                                            <div class="product-description-container">
                                                <p class="product-description">
                                                    <%= product.description %>
                                                </p>
                                            </div>
                                            <div class="product-color-container">
                                                <label for="" class="select-label">Colores</label>
                                                <div class="color-images-container">
                                                    <% otherColorsImages.forEach(colorImage=> { %>
                                                        <% if (colorImage.colors_id==files[0].colors_id) { %>
                                                            <div class="color-image-border color-image-border-active">
                                                                <a href="#"><img src="/img/<%= colorImage.filename %>"
                                                                        alt="color-image-option"
                                                                        class="color-image"></a>
                                                            </div>
                                                            <% } else{%>
                                                                <div class="color-image-border">
                                                                    <a
                                                                        href="/test/<%= product.id %>/<%= colorImage.colors_id %>"><img
                                                                            src="/img/<%= colorImage.filename %>"
                                                                            alt="color-image-option"
                                                                            class="color-image"></a>
                                                                </div>
                                                                <% } %>
                                                                    <% }) %>
                                                </div>
                                            </div>

                                            <div class="product-size-container">
                                                <label for="" class="select-label">Tamaños</label>
                                                <p class="size-guide" id="size-guide-btn">Guía de Tamaños</p>
                                                <div class="sizes-container">
                                                    <% sizes.forEach(size => { %>
                                                        <!-- Pregunto por la condicion de si ese size hay stock -->
                                                        <p class="size <%= product.stocks.find(st=>st.sizes_id == size.id)?.quantity <= 0 && 'no-stock' %>"><%= size.name %></p>
                                                    <% }) %>
                                                </div>
                                            </div>
                                            <div class="cart-button-container">
                                                <button class="cart-add-button">Agregar al Carro</button>
                                            </div>
                                            <div class="product-specifications">
                                                <label class="product-specifications-label"
                                                    id="product-specifications-btn">Product Details</label>
                                                <div class="specifications-dropdown-container">
                                                    <ul class="specifications-list-container">
                                                        <% product.details.forEach(detail=> { %>
                                                            <li class="specification-item">
                                                                <%= detail.detail %>
                                                            </li>
                                                            <% }) %>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <% if (product.outfitProducts.length) { %>
                                        <div class="related-products-container complete-outfit-container">
                                            <label class="related-products-label">COMPLETAR OUTFIT</label>
                                            <div class="related-product-cards-section">
                                                <% product.outfitProducts.forEach(prod=> { %>
                                                    <div class="product-card-container" data-productId=<%= prod.id %>>
                                                        <a href="/test/<%= prod.id%>/<%= prod.colorId %>" class="product-card-link">
                                                            <div class="image-container">
                                                                <div class="image-carousel">
                                                                    <!-- CONDICION DE SI ESTA EN WISHLIST -->
                                                                    <%let condition; %>
                                                                    <% prod.wishedUsers?.forEach(user => { %>
                                                                        <% if (isLogged && user.id == userLogged.id) { %>
                                                                            <% condition = user.wishlistProducts?.find(wishProd=>wishProd.products_id == prod.id && wishProd.colors_id == prod.colorId)%>
                                                                        <% } %>
                                                                    <% }) %>
                                                                    
                                                                    <div class="faved-item-container <%= condition && 'faved-item-container-active'%>" data-productId=<%= prod.id %> data-colorid=<%= prod.colorId %>>
                                                                        <i class='bx bx-heart'></i>
                                                                    </div>
                                                                    <% prod.files.forEach((file,i) => { %> <!--Estos son los archivos del color x-->
                                                                        <% if (file.file_types_id == 1) { %> <!--Foto-->
                                                                            <img src="/img/<%= file.filename %>"
                                                                            alt="product-image"
                                                                            class="product-image-test <%= i==0 ? 'product-image-test-active' : 'product-image-test-next-slide' %>"
                                                                            data-productId=<%= prod.id %>>
                                                                        <% } else if(file.file_types_id == 2){ %><!--Video-->
                                                                            <video
                                                                            class="video product-image-test <%= i==0 ? 'product-image-test-active' : 'product-image-test-next-slide' %>"
                                                                            muted playsinline loop>
                                                                            <source src="/video/<%= file.filename %>" type="video/mp4">
                                                                            <source src="/video/<%= file.filename %>" type="video/webm">
                                                                            No se puede reproducir el video
                                                                        </video>
                                                                        <% } %> 
                                                                    <% }) %>
                                                                </div>
                                                            </div>
                                                            <div class="product-info-container">
                                                                <div class="price-name-container">
                                                                    <p class="product-name"><%= prod.name %></p>
                                                                    <p class="product-price">$<%= prod.price %></p>
                                                                </div>
        
                                                            </div>
                                                        </a>
                                                        <div class="product-quick-actions-container" data-productId=<%= prod.id %> data-colorid=<%= prod.colorId %>>
                                                            <div class="quick-cart-container" data-productid=<%= prod.id %> data-colorid=<%= prod.colorId %>>
                                                                <div class="logo-container">
                                                                    <i class='bx bx-shopping-bag quick-add-cart-btn'
                                                                        data-productId=<%= prod.id %>></i>
                                                                </div>
                                                            </div>
                                                            <div class="quick-fav-container">
                                                                <div class="logo-container heart-container" data-productId=<%= prod.id %> data-colorid=<%= prod.colorId %>>
                                                                    <i class="fa-regular fa-heart" data-productId=<%= prod.id %> data-colorid=<%= prod.colorId %>></i>
                                                                </div>
        
                                                            </div>
                                                            <div class="quick-sizes-container">
                                                                <!-- TODO: a estos meterle el data-value = size.id -->
                                                                <p class="quick-size">XS</p>
                                                                <p class="quick-size no-stock">S</p>
                                                                <p class="quick-size">M</p>
                                                                <p class="quick-size">L</p>
                                                                <div class="close-size-btn-container">
                                                                    <i class="fa-solid fa-xmark close-sizes-btn"
                                                                        data-productid=<%= prod.id %> data-colorid=<%= prod.colorId %>></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }) %>
                                            </div>
    
                                        </div>
                                    <% } %>
                                    
                                    <div class="related-products-container">
                                        <label class="related-products-label">SUGGESTIONS</label>
                                        <div class="related-product-cards-section">
                                            <% product.relatedProducts.forEach(relatedProd => { %>
                                                <div class="product-card-container" data-productId=<%= relatedProd %>>
                                                    <a href="/test/<%= relatedProd.id%>/<%= relatedProd.files[0].colors_id %>" class="product-card-link">
                                                        <div class="image-container">
                                                            <div class="image-carousel">
                                                                <!-- CONDICION DE SI ESTA EN WISHLIST -->
                                                                <%let condition; %>
                                                                <% relatedProd.wishedUsers?.forEach(user => { %>
                                                                    <% if (isLogged && user.id == userLogged.id) { %>
                                                                        <% condition = user.wishlistProducts?.find(wishProd=>wishProd.products_id == relatedProd.id && wishProd.colors_id == relatedProd.files[0].colors_id)%>
                                                                    <% } %>
                                                                <% }) %>
                                                                
                                                                <div class="faved-item-container <%= condition && 'faved-item-container-active'%>" data-productId=<%= relatedProd.id %> data-colorid=<%= relatedProd.files[0].colors_id %>>
                                                                    <i class='bx bx-heart'></i>
                                                                </div>
                                                                <% relatedProd.files.forEach((file,i) => { %> <!--Estos son los archivos del color x-->
                                                                    <% if (file.file_types_id == 1) { %> <!--Foto-->
                                                                        <img src="/img/<%= file.filename %>"
                                                                        alt="product-image"
                                                                        class="product-image-test <%= i==0 ? 'product-image-test-active' : 'product-image-test-next-slide' %>"
                                                                        data-productId=<%= relatedProd.id %>>
                                                                    <% } else if(file.file_types_id == 2){ %><!--Video-->
                                                                        <video
                                                                        class="video product-image-test <%= i==0 ? 'product-image-test-active' : 'product-image-test-next-slide' %>"
                                                                        muted playsinline loop>
                                                                        <source src="/video/<%= file.filename %>" type="video/mp4">
                                                                        <source src="/video/<%= file.filename %>" type="video/webm">
                                                                        No se puede reproducir el video
                                                                    </video>
                                                                    <% } %> 
                                                                <% }) %>
                                                            </div>
                                                        </div>
                                                        <div class="product-info-container">
                                                            <div class="price-name-container">
                                                                <p class="product-name"><%= relatedProd.name %></p>
                                                                <p class="product-price">$<%= relatedProd.price %></p>
                                                            </div>

                                                        </div>
                                                    </a>
                                                    <div class="product-quick-actions-container" data-productId=<%= relatedProd.id %> data-colorid=<%= relatedProd.files[0].colors_id %>>
                                                        <div class="quick-cart-container" data-productid=<%= relatedProd.id %> data-colorid=<%= relatedProd.files[0].colors_id %>>
                                                            <div class="logo-container">
                                                                <i class='bx bx-shopping-bag quick-add-cart-btn'
                                                                    data-productId=<%= relatedProd.id %>></i>
                                                            </div>
                                                        </div>
                                                        <div class="quick-fav-container">
                                                            <div class="logo-container heart-container" data-productId=<%= relatedProd.id %> data-colorid=<%= relatedProd.files[0].colors_id %>>
                                                                <i class="fa-regular fa-heart" data-productId=<%= relatedProd.id %> data-colorid=<%= relatedProd.files[0].colors_id %>></i>
                                                            </div>
    
                                                        </div>
                                                        <div class="quick-sizes-container">
                                                            <!-- TODO: a estos meterle el data-value = size.id -->
                                                            <p class="quick-size">XS</p>
                                                            <p class="quick-size no-stock">S</p>
                                                            <p class="quick-size">M</p>
                                                            <p class="quick-size">L</p>
                                                            <div class="close-size-btn-container">
                                                                <i class="fa-solid fa-xmark close-sizes-btn"
                                                                    data-productid=<%= relatedProd.id %> data-colorid=<%= relatedProd.files[0].colors_id %>></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% }) %>                            
                                        </div>
                                    </div>
                                    <div class="client-preferences-container">
                                        <div class="payment-options-container client-popup-open-btn">
                                            <i class="fa-regular fa-credit-card credit-card-logo"></i>
                                            <div class="payment-text-container">
                                                <p class="payment-label">Métodos de Pago</p>
                                                <p class="payment-description">Crédito, Débito, o Mercado Pago</p>
                                            </div>
                                            <i class="fa-regular fa-clone"></i>
                                            <div class="client-popup-container payment-popup-container">
                                                <div class="client-popup-top-container">
                                                    <div class="client-popup-title-container">
                                                        <p class="client-popup-title">Métodos de Pago</p>
                                                    </div>
                                                    <div class="client-popup-close-btn-container">
                                                        <i class="fa-solid fa-xmark close-client-popup-btn"></i>
                                                    </div>
                                                </div>
                                                <div class="client-popup-info-container">
                                                    <p class="client-popup-info">
                                                        Payments are accepted via credit card, debit card or PayPal with
                                                        a
                                                        valid United States
                                                        billing and shipping address. Accepted credit cards are Visa,
                                                        American Express, and
                                                        Mastercard.<br><br>When placing an order, your billing address
                                                        must
                                                        correspond to the address of your
                                                        credit card, or we will not be able to process your
                                                        order.<br><br>All transactions are secured. The Louis Vuitton
                                                        website is provided with an SSL
                                                        encryption system to protect personal and payment data.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shipment-options-container client-popup-open-btn">
                                            <i class="fa-solid fa-truck"></i>
                                            <div class="shipment-text-container">
                                                <p class="shipment-label">Envíos</p>
                                                <p class="shipment-description">Mercado envíos, Retiro por el local</p>
                                            </div>
                                            <i class="fa-regular fa-clone"></i>
                                            <div class="client-popup-container shipment-popup-container">
                                                <div class="client-popup-top-container">
                                                    <div class="client-popup-title-container">
                                                        <p class="client-popup-title">Envíos</p>
                                                    </div>
                                                    <div class="client-popup-close-btn-container">
                                                        <i class="fa-solid fa-xmark close-client-popup-btn"></i>
                                                    </div>
                                                </div>
                                                <div class="client-popup-info-container">
                                                    <p class="client-popup-info">
                                                        Payments are accepted via credit card, debit card or PayPal with
                                                        a
                                                        valid United States
                                                        billing and shipping address. Accepted credit cards are Visa,
                                                        American Express, and
                                                        Mastercard.<br><br>When placing an order, your billing address
                                                        must
                                                        correspond to the address of your
                                                        credit card, or we will not be able to process your
                                                        order.<br><br>All transactions are secured. The Louis Vuitton
                                                        website is provided with an SSL
                                                        encryption system to protect personal and payment data.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="change-options-container client-popup-open-btn">
                                            <i class="fa-solid fa-right-left"></i>
                                            <div class="change-text-container">
                                                <p class="change-label">Cambios & Devoluciones</p>
                                                <p class="change-description">Hasta 30 dias luego de tu compra</p>

                                            </div>
                                            <i class="fa-regular fa-clone"></i>
                                            <div class="client-popup-container return-popup-container">
                                                <div class="client-popup-top-container">
                                                    <div class="client-popup-title-container">
                                                        <p class="client-popup-title">Cambios & Devoluciones</p>
                                                    </div>
                                                    <div class="client-popup-close-btn-container">
                                                        <i class="fa-solid fa-xmark close-client-popup-btn"></i>
                                                    </div>
                                                </div>
                                                <div class="client-popup-info-container">
                                                    <p class="client-popup-info">
                                                        Payments are accepted via credit card, debit card or PayPal with
                                                        a
                                                        valid United States
                                                        billing and shipping address. Accepted credit cards are Visa,
                                                        American Express, and
                                                        Mastercard.<br><br>When placing an order, your billing address
                                                        must
                                                        correspond to the address of your
                                                        credit card, or we will not be able to process your
                                                        order.<br><br>All transactions are secured. The Louis Vuitton
                                                        website is provided with an SSL
                                                        encryption system to protect personal and payment data.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </main>
                                <div class="size-guide-img-container">
                                    <img src="/img/size-guide.jpg" alt="" class="size-guide-img">
                                    <i class="fa-solid fa-xmark close-size-guide-btn"></i>
                                </div>
                                <div class="delete-product-popup-container">
                                    <label class="delete-product-label">Estas por borrar</label>
                                    <div class="delete-product-card">
                                        <div class="delete-product-image-container">
                                            <img src="/img/<%= files[0].filename %>" alt="productImage"
                                                class="delete-product-image">
                                        </div>
                                        <div class="delete-product-info">
                                            <p class="delete-product-name">
                                                <%= product.name %>
                                            </p>
                                        </div>
                                        <div class="delete-product-buttons-container">
                                            <a href="#" class="delete-product-popup-toggler"><i
                                                    class="fa-solid fa-x"></i></a>
                                            <a href="/admin/destroyProduct/<%= product.id %>"><i class='bx bx-trash-alt'></i></a>
                                        </div>
                                    </div>
                                    <p class="delete-product-specification">Se eliminara en todos los colores</p>
                                </div>
                                <%- include('./partials/footer.ejs') %>
</body>

</html>