<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        

        <link rel="stylesheet" href="/css/productCreate.css" type="text/css">
        <script src="/scripts/productCreate.js" type="module"></script>
        <title>Cartera #1</title>
</head>

<body>
                <%- include('./partials/header.ejs') %>
                        
                            <main class="product-create-main">
                                <h2 class="product-create-title">CREACION PRODUCTO</h2>
                                
                                    
                                <form action="http://localhost:4500/product/create" class="create-product-form" enctype="multipart/form-data" method="POST">
                                    <div class="input-label-container">
                                        <label for="name">Nombre</label>
                                        <input type="text" name="name">
                                    </div>
                                    <div class="input-label-container">
                                        <label for="category">Categoría</label>
                                        <select name="category" id="">
                                            <% categories.forEach(cat => { %>
                                                <option value="<%= cat.id %>"><%=cat.category%></option>
                                            <%  }) %>
                                           
                                        </select>
                                    </div>
                                    <div class="input-label-container">
                                        <label for="description">Descripción</label>
                                        <textarea name="description" id="" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="input-label-container">
                                        <label for="price">Precio</label>
                                        <input type="text" name="price">
                                    </div>
                                    <div class="input-label-container">
                                        <label for="images">Imagenes</label>
                                        <input type="file" name="images" multiple>
                                    </div>

                                    <button type="submit">Crear</button>

                                </form>

                                </div>
                            </main>
                            <%- include('./partials/footer.ejs') %>
</body>

</html>