<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/productDetail.css">
        <link rel="stylesheet" href="/css/productCard.css">
        <script src="/scripts/productList.js" type="module"></script>
        <script src="/scripts/productDetailScript.js" type="module"></script>
        <script src="/scripts/productCard.js" type="module"></script>
        <title>Producto #1</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main class="product-detail-main">
            <article class="product-container">
                <div class="first-column">
                    <div class="main-img-container">
                        <img src="/img/product1.png" class="main-img" alt="main-image">
                    </div>
                    <div class="other-product-imgs-container">
                        <div class="other-img-container other-img-container-active">
                            <img src="/img/product1.png" class="product-img" alt="thumbnail-image">
                            <!-- TODO: Cuando hagamos forEach meter en alt el id -->
                        </div>
                        <div class="other-img-container">
                            <img src="/img/product2.png" class="product-img" alt="thumbnail-image">
                        </div>
                        <div class="other-img-container">
                            <img src="/img/product3.png" class="product-img" alt="thumbnail-image">
                        </div>
                        <div class="other-img-container">
                            <img src="/img/product2.png" class="product-img" alt="thumbnail-image">
                        </div>
                    </div>
                </div>
                <div class="second-column">
                    <div class="product-detail-info-container">
                        <div class="product-title-container">
                            <h1 class="product-title">Crema antiage</h1>

                            <h3 class="product-title">Precio</h3>
                        </div>
                        <div class="product-description-container">
                            <p>Description 1</p>
                            <p>Description 2</p>
                        </div>
                    </div>
                    <div class="purchase-product-container">
                        <form action="" class="add-to-cart-form">
                            <input type="text" name='item-quantity' class="item-quantity" value="1">
                            <button class="add-to-cart" type="submit">Añadir al carrito</button>
                        </form>

                    </div>
                </div>


            </article>
            <section class="suggested-product-section">

                <div class="suggested-product-title-container">
                    <h2>Productos sugeridos</h2>
                </div>

                <div class="suggested-product-list">
                    <article class="product-card-container suggested-product-card-detail-container" data-productId=<%=1%>>
                        <a href="/product/1" class="product-card-link">
                            <div class="image-container suggested-image-container">
                                <div class="image-carousel">
                                    <img src="/img/product1.png" alt="product-image"
                                        class="product-image-test product-image-test-active product-detail-suggested-media"
                                        data-productId=<%=1%>>
                                    <img src="/img/product2.png" alt="product-image"
                                        class="product-image-test product-image-test-next-slide product-detail-suggested-media"
                                        data-productId=<%=1%>>
                                    <video
                                        class="video product-image-test product-image-test-prev-slide product-detail-suggested-media"
                                        muted playsinline loop>
                                        <source src="/video/product1.MP4" type="video/mp4">
                                        <source src="/video/product1.MP4" type="video/webm">
                                        No se puede reproducir el video
                                    </video>
                                </div>
                            </div>
                            <div class="product-info-container suggested-product-info-container">
                                <div class="price-name-container">
                                    <p class="product-name">
                                        Crema Restauradora
                                    </p>
                                    <p class="product-price">$5000</p>
                                </div>
                            </div>
                        </a>
                        <div class="product-quick-actions-container suggested-quick-cart-container" data-productId=<%=1%>>
                            <div class="quick-cart-container " data-productid=<%=1 %>>
                                <i class='bx bx-shopping-bag quick-add-cart-btn' data-productId=<%=1%>></i>
                            </div>
                            <div class="loading-container">
                                <div class="load-wrapp">
                                    <div class="load-3">
                                        <div class="line"></div>
                                        <div class="line"></div>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="product-card-container suggested-product-card-detail-container" data-productId=<%=1%>>
                        <a href="/product/1" class="product-card-link">
                            <div class="image-container suggested-image-container">
                                <div class="image-carousel">
                                    <img src="/img/product1.png" alt="product-image"
                                        class="product-image-test product-image-test-active product-detail-suggested-media"
                                        data-productId=<%=1%>>
                                    <img src="/img/product2.png" alt="product-image"
                                        class="product-image-test product-image-test-next-slide product-detail-suggested-media"
                                        data-productId=<%=1%>>
                                    <video
                                        class="video product-image-test product-image-test-prev-slide product-detail-suggested-media"
                                        muted playsinline loop>
                                        <source src="/video/product1.MP4" type="video/mp4">
                                        <source src="/video/product1.MP4" type="video/webm">
                                        No se puede reproducir el video
                                    </video>
                                </div>
                            </div>
                            <div class="product-info-container suggested-product-info-container">
                                <div class="price-name-container">
                                    <p class="product-name">
                                        Crema Restauradora
                                    </p>
                                    <p class="product-price">$5000</p>
                                </div>
                            </div>
                        </a>
                        <div class="product-quick-actions-container suggested-quick-cart-container" data-productId=<%=1%>>
                            <div class="quick-cart-container " data-productid=<%=1 %>>
                                <i class='bx bx-shopping-bag quick-add-cart-btn' data-productId=<%=1%>></i>
                            </div>
                            <div class="loading-container">
                                <div class="load-wrapp">
                                    <div class="load-3">
                                        <div class="line"></div>
                                        <div class="line"></div>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="product-card-container suggested-product-card-detail-container" data-productId=<%=1%>>
                        <a href="/product/1" class="product-card-link">
                            <div class="image-container suggested-image-container">
                                <div class="image-carousel">
                                    <img src="/img/product1.png" alt="product-image"
                                        class="product-image-test product-image-test-active product-detail-suggested-media"
                                        data-productId=<%=1%>>
                                    <img src="/img/product2.png" alt="product-image"
                                        class="product-image-test product-image-test-next-slide product-detail-suggested-media"
                                        data-productId=<%=1%>>
                                    <video
                                        class="video product-image-test product-image-test-prev-slide product-detail-suggested-media"
                                        muted playsinline loop>
                                        <source src="/video/product1.MP4" type="video/mp4">
                                        <source src="/video/product1.MP4" type="video/webm">
                                        No se puede reproducir el video
                                    </video>
                                </div>
                            </div>
                            <div class="product-info-container suggested-product-info-container">
                                <div class="price-name-container">
                                    <p class="product-name">
                                        Crema Restauradora
                                    </p>
                                    <p class="product-price">$5000</p>
                                </div>
                            </div>
                        </a>
                        <div class="product-quick-actions-container suggested-quick-cart-container" data-productId=<%=1%>>
                            <div class="quick-cart-container " data-productid=<%=1 %>>
                                <i class='bx bx-shopping-bag quick-add-cart-btn' data-productId=<%=1%>></i>
                            </div>
                            <div class="loading-container">
                                <div class="load-wrapp">
                                    <div class="load-3">
                                        <div class="line"></div>
                                        <div class="line"></div>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>



            </section>
            <main>

                <%- include('./partials/footer.ejs') %>
</body>

</html>