<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <script src="/scripts/productList.js" type="module"></script>
        <script src="/scripts/productCard.js" type="module"></script>
        <link rel="stylesheet" href="/css/productList.css">
        <link rel="stylesheet" href="/css/productCard.css">
        <link rel="stylesheet" href="/css/loadingAnimation.css">
        <title>Cartera - Lista</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>

        <main class="main">
            <div class="product-list-intro">
                <div class="product-title">
                    <h2>
                        PRODUCTOS
                    </h2>
                </div>
            </div>

            <section class="product-list-section">
                <div class="product-card-container" data-productId=<%=1%>>
                    <a href="/product/1" class="product-card-link">
                        <div class="image-container">
                            <div class="image-carousel">
                                <img src="/img/<%= file.filename %>" alt="product-image"
                                    class="product-image-test <%= i==0 ? 'product-image-test-active' : 'product-image-test-next-slide' %>"
                                    data-productId=<%=prod.id %>>
                                <video
                                    class="video product-image-test <%= i==0 ? 'product-image-test-active' : 'product-image-test-next-slide' %>"
                                    muted playsinline loop>
                                    <source src="/video/<%= file.filename %>" type="video/mp4">
                                    <source src="/video/<%= file.filename %>" type="video/webm">
                                    No se puede reproducir el video
                                </video>
                            </div>
                        </div>
                        <div class="product-info-container">
                            <div class="price-name-container">
                                <p class="product-name">
                                    Crema Restauradora
                                </p>
                                <p class="product-price">$5000</p>
                            </div>
                        </div>
                    </a>
                    <div class="product-quick-actions-container" data-productId=<%=1 %>>
                            <div class="quick-cart-container" data-productid=<%=prod.id %>>
                                    <div class="logo-container">
                                        <i class='bx bx-shopping-bag quick-add-cart-btn' data-productId=<%=1%>></i>
                                    </div>
                            </div>
                            <div class="loading-container">
                                <div class="load-wrapp">
                                    <div class="load-3">
                                        <div class="line"></div>
                                        <div class="line"></div>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include('./partials/footer.ejs') %>






</body>

</html>