<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/productDetail.css">
        <link rel="stylesheet" href="/css/productCard.css">
        <script src="/scripts/productList.js" type="module"></script>
        <script src="/scripts/productDetailScript.js" type="module"></script>
        <script src="/scripts/productCard.js" type="module"></script>
        <title>
            <%= product.name %>
        </title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main class="product-detail-main">
            
           <% if(locals.userLogged && locals.userLogged.user_categories_id != 3) { %>
                       
            <div class="admins-actions-container">
                <div class="action-container">
                    <a href="/product/update/<%= product.id %>">Actualizar producto</a>
                </div>
                <div class="action-container">
                    <button class="form-device-btn start-product-delete"> Eliminar producto </button>
                </div>
                <form class="update-delete-btn-container popup" action="/product/<%= product.id %>?_method=DELETE"
                    method="POST">
                    <p class="product-delete-popup-label">Estas seguro que quieres borrar <%= product.name %>?</p>
                    <button class="cancel-product-delete">Cancelar</button>
                    <button class="form-device-btn confirm-product-delete" type="submit">Eliminar</button>
                </form>
            </div>
            <% } %>
            <article class="product-container" data-productid="<%=product.id %>">
                <div class="first-column">
                    
                    <div class="main-img-container">
                        <% if (product.files[0]) { %>
                            <% if (product.files[0].file_types_id==1) /*FOTO*/ { %>
                                <img src="<%= product.files[0]?.file_url %>" class="main-img"
                                alt="<%= product.name%>-<%=product.files[0]?.filenanme %>">
                            <% } else if(product.files[0].file_types_id==2) { /*VIDEO*/ %>
                            <video
                                class="video main-img"
                                muted playsinline loop>
                                <source src="<%= product.files[0]?.file_url %>" type="video/mp4">
                                <source src="<%= product.files[0]?.file_url %>" type="video/webm">
                                No se puede reproducir el video
                            </video>
                            <% } %>
                        <% }else{ %>
                            <img src="/img/product/default.png" class="main-img"
                            alt="main-image">
                        <% } %>
                        
                        
                    </div>
                    <div class="other-product-imgs-container">
                        <% product.files.forEach((file, i)=> { %>
                                <div class="other-img-container <%= i==0 && 'other-img-container-active' %>">
                                    <% if (file.file_types_id==1) { %> <!--FOTO-->
                                        <img src="<%= file?.file_url %>" class="product-img"
                                            alt="<%= product.name%>-<%=file?.filenanme %>">
                                    <% } else if(file.file_types_id==2){ %> <!--VIDEO-->
                                        <video
                                        class="video product-img"
                                        muted playsinline loop>
                                        <source src="<%= file?.file_url %>" type="video/mp4">
                                        <source src="<%= file?.file_url %>" type="video/webm">
                                        No se puede reproducir el video
                                    </video>
                                    <% } %>
                                </div>
                        <% }) %>
                    </div>
                </div>
                <div class="second-column">
                    <div class="product-detail-info-container">
                        <div class="product-title-container">
                            <h1 class="product-title product-name">
                                <%= product.name %>
                            </h1>
                            <h3 class="product-title product-price">
                                $<%= product.price %>
                            </h3>
                        </div>
                        <div class="product-description-container product-info-item">
                            <p class="product-info-label">DESCRIPCIÓN <span class="product-info-toggler">-</span></p>
                            <p class="product-description product-information product-information-active"> <%= product.description %> </p>
                        </div>
                        <div class="product-ingredients-container product-info-item">
                            <p class="product-info-label">INGREDIENTES <span class="product-info-toggler">+</span></p>
                            <p class="product-information"> Ingredients: Water\Aqua\Eau, Glycerin, Hydrogenated Polyisobutene, Dimethicone, Cetearyl Alcohol, Cetearyl Isononanoate, Isononyl Isononanoate, Cetyl Alcohol, Butylene Glycol, Yeast Extract\Faex\Extrait De Levure, Algae Extract, Sesamum Indicum (Sesame) Seed Oil, Medicago Sativa (Alfalfa) Seed Powder, Helianthus Annuus (Sunflower) Seedcake, Prunus Amygdalus Dulcis (Sweet Almond) Seed Meal, Eucalyptus Globulus (Eucalyptus) Leaf Oil, Sodium Gluconate, Copper Gluconate, Calcium Gluconate, Magnesium Gluconate, Zinc Gluconate, Tocopheryl Succinate, Niacin, Sesamum Indicum (Sesame) Seed Powder, Crithmum Maritimum Extract, Gelidium Cartilagineum Extract, Laminaria Digitata Extract, Sigesbeckia Orientalis (St. Paul'S Wort) Extract, Asparagopsis Armata Extract, Laminaria Ochroleuca Extract, Plankton Extract, Sucrose, Behenyl Alcohol, Caffeine, Padina Pavonica Thallus Extract, Ascophyllum Nodosum Extract, Avena Sativa (Oat) Kernel Extract, Thermus Thermophillus Ferment, Lecithin, Tourmaline, Acetyl Hexapeptide-8, Trisiloxane, Phenyl Trimethicone, Propylene Glycol Dioctanoate, Glyceryl Stearate, Peg-100 Stearate, Sorbitol, Ceteth-20, Cetearyl Glucoside, Hydrogenated Lecithin, Caprylic/Capric Triglyceride, Polysilicone-11, Saccharide Isomerate, Xanthan Gum, Tetrahexyldecyl Ascorbate, Hydrogenated Vegetable Oil, Sodium Hyaluronate, Caprylyl Glycol, Tocopheryl Acetate, Phytosphingosine, Disodium Edta, Fragrance (Parfum), Citric Acid, Sodium Citrate, Geraniol, Limonene, Hexyl Cinnamal, Linalool, Coumarin, Citronellol, Phenoxyethanol </p>
                        </div> 
                        <div class="product-ingredients-container product-info-item">
                            <p class="product-info-label">TAMAÑO/S <span class="product-info-toggler">+</span></p>
                            <p class="product-information product-size-info"> 1 lata de 30 sobres de 25gr</p>
                        </div>
                    </div>
                    <div class="purchase-product-container add-cart-button-container" data-productid=<%=product.id %>>
                            <button class="cart-options-btn quick-add-cart-btn" type="submit">
                                Añadir al carro
                            </button>
                            <button class="cart-options-btn remove-cart-product hidden" type="submit">
                                Añadido al carro
                            </button>
                            <%- include('./partials/loadingSpinner.ejs') %>
                    </div>
                </div>


            </article>
            <section class="suggested-product-section">

                <div class="suggested-product-title-container">
                    <h2>Productos sugeridos</h2>
                </div>

                <div class="suggested-product-list">
                    <% suggestedProducts.forEach(sugProd=> { %>
                        <article class="product-card-container suggested-product-card-detail-container"
                            data-productId="<%=sugProd.id %>">
                            <a href="/product/<%= sugProd.id %>" class="product-card-link">
                                <div class="image-container suggested-image-container">
                                    <div class="image-carousel">
                                        <% if (sugProd.files.length) { %>
                                            <% sugProd.files.forEach((file,i)=> { %>
                                                <% if (file.file_types_id==1) { %> <!--FOTO-->
                                                    <img src="<%= file?.file_url || 'img/product/default.png'%>"
                                                        alt="<%= sugProd.name %>-<%= file.filename %>"
                                                        class="product-image-test <%= i==0 && 'product-image-test-active' %>  product-detail-suggested-media"
                                                        data-productId="<%=sugProd.id %>" >
                                                    <% }else if(file.file_types_id==2){ %> <!--VIDEO-->
                                                        <video
                                                            class="video product-image-test product-detail-suggested-media"
                                                            muted playsinline loop>
                                                            <source src=<%= file?.file_url %> type="video/mp4">
                                                            <source src=<%= file?.file_url %> type="video/webm">
                                                            No se puede reproducir el video
                                                        </video>
                                                        <% } %>
                                                            <% }) %>
                                        <% } else{ %>
                                            <img src="/img/product/default.png" alt="default-img"
                                                        class="product-image-test product-image-test-active product-detail-suggested-media"
                                                        data-productId="<%=sugProd.id %>" >
                                        <% } %>
                                        
                                    </div>
                                </div>
                                <div class="product-info-container suggested-product-info-container">
                                    <div class="price-name-container">
                                        <p class="product-name">
                                            <%= sugProd.name %>
                                        </p>
                                        <p class="product-price">$<%= sugProd.price %>
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <div class="product-quick-actions-container suggested-quick-cart-container"
                                data-productId=<%=sugProd.id %> >
                                <div class="quick-cart-container" data-productid="<%=sugProd.id %>">
                                    <div class="logo-container">
                                        <i class='bx bx-shopping-bag quick-add-cart-btn'></i>
                                        <i class='bx bx-check-circle remove-cart-product hidden'></i>
                                    </div>
                                </div>
                                <%- include('./partials/loadingSpinner.ejs') %>
                            </div>
                        </article>
                        <% }) %>
                </div>
            </section>
            <main>

                <%- include('./partials/footer.ejs') %>
</body>

</html>