<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/registerSale.css" type="text/css">
        <link rel="stylesheet" href="/css/orderOverlay.css" type="text/css">
        <script src="/scripts/registerSale.js" type="module"></script>
        <title>Registrar venta</title>
</head>

<body class="register-sale-body">

    <%- include('./partials/header.ejs') %>
        <main class="register-sale-main">
            <%- include('./partials/orderOverlay.ejs') %>
                <div class="register-sale-intro-container">
                    <h1>Registrar venta</h1>
                </div>
                <form action="/admin/register-sale" class="register-sale-form" method="POST">

                    <section class="billing-data-section billing-section">
                        <label class="bold form-label">Datos Facturacion</label>
                        <div class="input-label-container">
                            <label for="name">Nombre</label>
                            <input type="text" name="name">
                        </div>

                        <div class="input-label-container">
                            <label for="last_name">Apellido</label>
                            <input type="text" name="last_name">
                        </div>

                        <div class="input-label-container">
                            <label for="dni">DNI</label>
                            <input type="text" name="dni">
                        </div>

                        <div class="input-label-container">
                            <label for="email">Email</label>
                            <input type="email" name="email">
                        </div>

                        <div class="input-label-container phone-input-container">
                            <label for="">Telefono</label>
                            <select name="phone_code" class="prefix-phone">
                                <% countryCodes.forEach(country=> { %>
                                    <option value="+<%=country.code %>" <%=country.code==54 && 'selected' %>
                                        > (+<%= country.code %>) <%= country.country_name %>
                                    </option>
                                    <% }) %>
                            </select>
                            <input type="text" name="phone" id="phone" class="input required numeric-only-input"
                                placeholder="1124852020">

                        </div>
                    </section>
                    <section class="billing-address-section billing-section">
                        <label class="bold form-label">Direccion Facturacion</label>
                        <div class="input-label-container">
                            <label for="billing_street">Calle y número</label>
                            <input type="text" name="billing_street">
                        </div>
                        <div class="input-label-container short-field">
                            <label for="billing_zip_code">Código postal</label>
                            <input type="text" name="billing_zip_code">
                        </div>
                        <div class="input-label-container short-field">
                            <label for="billing_floor">Piso y departamento</label>
                            <input type="text" name="billing_floor">
                        </div>
                        <div class="input-label-container">
                            <label for="billing_city">Ciudad</label>
                            <input type="text" name="billing_city">
                        </div>

                        <div class="input-label-container">
                            <label for="billing_province" class="label">Provincia</label>
                            <select name="billing_province" id="billing_province" class="select required">
                                <% provinces.forEach(prov=> { %>
                                    <option value="<%= prov.id %>">
                                        <%= prov.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                    </section>

                    <section class="choose-item-section">
                        <div class="input-label-container">
                            <label for="search-item">Item</label>
                            <input name="search-item" type="text" class="search-checkbox"
                                placeholder="Busca por nombre">
                        </div>
                        <div class="choose-service-checkbox-container">
                            <% products.forEach(item=> { %>
                                <label class="checkbox-label" data-id="<%= item.id %>"
                                    data-price="<%= item.price ? item.price : '' %>">
                                    <%= item.name %>
                                </label>
                                <% }) %>
                        </div>

                    </section>

                    <section class="added-items-container">
                        <div class="added-items-container-header">
                            <p>Item</p>
                            <p>Precio</p>
                            <p>Cantidad</p>
                        </div>
                        <div class="added-items-container-single"></div>
                    </section>


                    <div class="input-label-container" id="products-container">
                        <label for="payment_methods">Forma de pago</label>
                        <select name="payment_methods">
                            <% paymentForms.forEach(form=> { %>
                                <option value="<%= form.id %>">
                                    <%= form.name %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                    <div class="input-label-container date-container">
                        <label for="date">Fecha</label>
                        <input type="date" name="date">
                    </div>

                    <button type="submit" class="register-sale-btn">Registrar</button>

                </form>
        </main>


</body>

</html>