<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <script src="/scripts/services.js" type="module"></script>
        <link rel="stylesheet" href="/css/services.css">
        <link rel="stylesheet" href="/css/variables.css">
        <title>Servicios</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main class="main">
            <h1 class="services-title page-title bold">Nuestras Especialidades</h1>
            <div class="service-cards-container">

                <% specialties.forEach(specialty=> { %>

                    <div class="service-card service-card-inactive" data-serviceId="<%= specialty.id %>">
                        <div class="service-card-wrapper">
                            <div class="service-card-visible-part">
                                <div class="overlay"></div>
                               <!--  <img src="/img/< specialty.src %>" alt="service image" class="service-image"> -->
                                <div class="toggle-dropdown-icons-container">
                                    <i class='bx bx-plus-circle toggle-dropdown'></i>
                                    <i class='bx bx-minus toggle-dropdown'></i>
                                </div>
                                <h2 class="service-label">
                                    <%= specialty.name %>
                                </h2>
                            </div>
                            <div class="service-card-dropdown">
                                <% if (specialty.services.length) { %>
                                    <% specialty.services.forEach(serv=> { %>
                                        <div class="service-card-dropdown-content-container">
                                            <h3>
                                                <a href="/servicios/<%= specialty.id%>/<%= serv.id %>">
                                                    <%= serv.name %>
                                                </a>
                                            </h3>
                                            <p>
                                                <%= serv.description %>
                                            </p>
                                        </div>
                                    <% }) %>
                                <% } else{ %>
                                    <% specialty.treatments.forEach((treat,i) => { %>
                                        <% if (i<5) { %>
                                            <div class="service-card-dropdown-content-container">
                                                <h3>
                                                    <a href="/servicios/<%= specialty.id %>">
                                                        <%= treat.name %>
                                                    </a>
                                                </h3>
                                                <p>
                                                    <%= treat.description %>
                                                </p>
                                            </div>
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <% }) %>





            </div>
        </main>
        <%- include('./partials/footer.ejs') %>






</body>

</html>