<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <script src="/scripts/serviceDetail.js" type="module"></script>
        <link rel="stylesheet" href="/css/serviceDetail.css">
        <link rel="stylesheet" href="/css/variables.css">
        <title><%= service.name %></title>
</head>

<body>

    <%-  include('./partials/header.ejs') %>

    <main class="service-detail-main">
        <div class="service-detail-content-container">
            <div class="service-detail-title-container">
                <h1 class="service-detail-title page-title"><%= service.name %></h1>
            </div>
            <div class="service-detail-cards-container">
                <% service.treatments.forEach((treatment,i) => { %>
                    <article class="service-detail-card">
                        <!-- <i class='bx bx-minus '></i> -->
                        <div class="service-card-content-wrapper">
                            <div class="service-card-first-column">
                                <div class="service-card-img-container">
                                    <img src="/img/<%= service.specialty.src %>" alt="<%= service.name %>-<%= i+1 %>" class="service-card-img">
                                </div>
                                <div class="service-card-first-column-dropdown-container">
                                    <div class="first-column-item-info">
                                        <p>Tiempo de aplicación</p>
                                        <p>30 min</p>
                                    </div>
                                    <div class="first-column-item-info">
                                        <p>Tiempo de duración</p>
                                        <p>6 meses</p>
                                    </div>                   
                                </div>
                            </div>
    
                            <div class="service-card-info-container">
                                <h2 class="bold"><%= treatment.name %></h2>
                                <div class="service-info-p-container">
                                    <p class="service-info-p"><%= treatment.description %></p>
                                </div>
                                <div class="see-more-container">
                                    <p class="see-more-action">Ver más</p>
                                    <p class="see-more-action see-more-action-inactive close-card">Ver menos</p>
                                </div>
                            </div>
                        </div>
    
                    </article>
                <% }) %>
                
           
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>