<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/createBlog.css" type="text/css">
        <link rel="stylesheet" href="/css/updateBlog.css" type="text/css">
        <script src="/scripts/updateBlog.js" type="module"></script>
        <title>Actualización blog</title>
</head>

<body>

    <%- include('./partials/header.ejs') %>
        <main class="blog-creation-main">
            <div class="intro-title-container">
                <h1 class="blog-intro-title">Actualización de blog</h1>
            </div>
            <form action="/blog/<%=blogToUpdate.id %>?_method=PUT" method="POST" class="create-blog-form"
                enctype="multipart/form-data">
                <div class="input-label-container">
                    <label class="main-label" for="title">Titulo blog</label>
                    <input type="text" name="title" value="<%= blogToUpdate.title%>" class="text-input">

                </div>
                <div class="input-label-container">
                    <label class="main-label" for="author">Autor</label>
                    <input type="text" name="author" value="<%= blogToUpdate.author%>" class="text-input">
                </div>
                <div class="input-label-container">
                    <label for="content">Imagenes</label>
                    <input type="file" name="images" class="images text-input" multiple>
                </div>
                <div class="input-label-container images-radio-content-wrapper">
                    <label class="main-label" for="main-img">Selecciónar imagen principal (Recuerda que horizontal)</label>
                    <div class="images-radio-box-wrapper">
                        <% blogToUpdate.files.map((file, i)=> { %>
                            <% if(file.file_types_id==1){ %>
                                <div class="image-radio-box">
                                    <div class="image-container">
                                        <label for="<%= file.filename %>"><img src="<%= file.file_url %>"
                                                alt="<%= file.filename %>"></label>
                                    </div>
                                    <input type="radio" name="mainImage" id="<%= file.filename %>"
                                        value="<%= file.filename %>" <%=file.main_image==1 ? 'checked' : '' %>>
                                </div>
                                <% } %>
                                    <% }) %>
                    </div>
                </div>
                <div class="input-label-container delete-imgs-content">
                    <label class="main-label" for="current_imgs">Archivos actuales <span class="grey">(destilda si quieres borrar)</span></label>
                    <% blogToUpdate.files.map((file, i)=> { %>

                        <div class="current-img-subcontainer">
                            <input type="checkbox" id="<%= i %>" name="current_imgs" checked
                                value="<%= file.filename %>">
                            <label for="<%= i %>" class="label-img">
                                <% if(file.file_types_id==1){ %>
                                    <img class="blog-to-update-img" src="<%= file.file_url %>" alt="<%= file.id %>">
                                    <% } else if(file.file_types_id==2){ %>
                                        <video
                                        class="video blog-to-update-img"
                                        muted playsinline loop>
                                        <source src="<%= file?.file_url %>" type="video/MP4">
                                        <source src="<%= file?.file_url %>" type="video/webm">
                                        No se puede reproducir el video
                                    </video>
                                <% } %>
                            </label>
                        </div>

                        <% }) %>
                </div>
                <div class="input-label-container">
                    <label for="content" class="main-label">Contenido</label>
                    <textarea name="text" cols="50" rows="20"
                        class="form-update-textarea"><%= blogToUpdate.text%></textarea>
                </div>
                <button type="submit">Actualizar</button>
            </form>
        </main>

        <%- include('./partials/footer.ejs') %>

</body>

</html>