<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/passwordRequirementsList.css">
    <link rel="stylesheet" href="/css/changePassword.css">
    <script src="/scripts/userChangePassword.js" type="module"></script>
    <title>Cambiar contrase単a</title>
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main class="main change-password-main">
        <form action="/user/change-password/<%= token %>" method="POST" class="change-password-form">
            <p class="form-title bold">Generar nueva contrase単a</p>
            <div class="field">
                <div class="password-label-container">
                    <label>Nueva contrase単a</label>
                    <i class='bx bx-help-circle password-requirements-toggler'></i>
                    <%- include('./partials/passwordRequirementsList') %>
                </div>
                <div class="input-logo-container pass-field">
                    <input type="password" name="password">
                    <i class="fa-solid fa-eye show-password-btn password-btn-toggler"></i>
                    <i class="fa-solid fa-eye-slash hide-password-btn password-btn-toggler hidden"></i>
                </div>
            </div>
            <div class="field">
                <label>Confirmar contrase単a</label>
                <div class="input-logo-container pass-field">
                    <input type="password" name="re-password">
                    <i class="fa-solid fa-eye show-password-btn password-btn-toggler"></i>
                    <i class="fa-solid fa-eye-slash hide-password-btn password-btn-toggler hidden"></i>
                </div>
            </div>
            <div class="change-password-button-container">
                <button type="submit">Cambiar</button>

            </div>
        </form>
    </main>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>