    <%- include('./partials/head.ejs') %>
        <script src="/scripts/userProfile.js" type="module"></script>
        <link rel="stylesheet" href="/css/userProfile.css">
        <link rel="stylesheet" href="/css/variables.css">
        <title>Perfil</title>
</head>

<body>

    <%- include('./partials/header.ejs') %>

        <main class="user-profile-main">
            <div class="mobile-profile-content-wrapper">
                <form action="/user/profile?_method=PUT" method="POST" class="user-info-form">
                    <div class="options-selected-container">
                        <div class="profile-selected-field-container profile-selected-field-container-active user-data">
                            <ul class="profile-selected-list data-list">
                                <li class="profile-field-container">
                                    <p>Nombre:</p> <span>
                                        <%= user.first_name %>
                                    </span>
                                    <div class="profile-input input-container-inactive">
                                        <input class="required letter-only-input" type="text" name="first_name"
                                            value="<%=user.first_name || null%>"
                                            placeholder="<%= !user.first_name && 'Ingresar nombre'%>">
                                    </div>
                                </li>
                                <li class="profile-field-container">
                                    <p>Apellido:</p> <span>
                                        <%= user.last_name %>
                                    </span>
                                    <div class="profile-input input-container-inactive">
                                        <input class="required letter-only-input" type="text" name="last_name"
                                            value="<%=user.last_name || null%>"
                                            placeholder="<%= !user.last_name && 'Ingresar apellido/s'%>">
                                    </div>
                                </li>
                                <li class="profile-field-container">
                                    <p>Email:</p> <span>
                                        <%= user.email %>
                                    </span>
                                    <div class="profile-input input-container-inactive">
                                        <input class="required" type="text" name="email" value="<%=user.email || null%>"
                                            placeholder="<%= !user.email && 'Ingresar correo'%>">
                                    </div>
                                </li>
                                <li class="profile-field-container">
                                    <p>Celular:</p> <span>
                                        <%= user.phone? user.phone : 'Sin especificar' %>
                                    </span>
                                    <div class="profile-input input-container-inactive">
                                        <input class="numeric-only-input" type="text" name="phone" value="<%=user.phone || null%>"
                                            placeholder="<%= !user.phone && 'Ingresar celular'%>">
                                    </div>
                                </li>
                                <li class="profile-field-container">
                                    <p>DNI:</p> <span>
                                        <%= user.dni? user.dni : 'Sin especificar' %>
                                    </span>
                                    <div class="profile-input input-container-inactive">
                                        <input class="numeric-only-input" type="text" name="dni" value="<%=user.dni || null%>"
                                            placeholder="<%= !user.dni && 'Ingresar DNI'%>">
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="profile-selected-field-container user-address">
                            <div class="profile-selected-content-wrapper">
                                <ul class="profile-selected-list address-list">
                                    <li class="profile-field-container">
                                        <p>Calle:</p> <span>
                                            <%= user.address?.street? user.address?.street : 'Sin especificar' %>
                                        </span>
                                        <div class="profile-input input-container-inactive">
                                            <input type="text" name="street" value="<%=user.address?.street || null%>"
                                                placeholder="<%= !user.address?.street && 'Santa Fe 2911'%>">
                                        </div>
                                    </li>
                                    <li class="profile-field-container">
                                        <p>Piso/Departamento:</p> <span>
                                            <%= user.address?.apartment? user.address?.apartment : 'Sin especificar' %>
                                        </span>
                                        <div class="profile-input input-container-inactive">
                                            <input type="text" name="apartment" value="<%=user.address?.apartment || null%>"
                                                placeholder="<%= !user.address?.apartment && '3F'%>">
                                        </div>
                                    </li>
                                    <li class="profile-field-container">
                                        <p>Ciudad:</p> <span>
                                            <%= user.address?.city? user.address?.city : 'Sin especificar' %>
                                        </span>
                                        <div class="profile-input input-container-inactive">
                                            <input type="text" name="city" value="<%=user.city || null%>"
                                                placeholder="<%= !user.city && 'CABA'%>">
                                        </div>
                                    </li>
                                    <li class="profile-field-container">
                                        <p>Provincia:</p> <span>
                                            <%= user.address?.provinces_id ? provinces.find(prov=>user.address?.provinces_id == prov.id).name : 'Sin especificar' %>
                                        </span>
                                        <div class="profile-input input-container-inactive">
                                            <select name="provinces_id" id="province">
                                                <% provinces.forEach(prov=> { %>
                                                    <option value="<%= prov.id %>" <%=user.address?.provinces_id==prov.id
                                                        ? 'selected' : '' %>><%= prov.name %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                    </li>
                                    <li class="profile-field-container">
                                        <p>Codigo Postal:</p> <span>
                                            <%= user.address?.zip_code? user.address?.zip_code : 'Sin especificar' %>
                                        </span>
                                        <div class="profile-input input-container-inactive">
                                            <input class="numeric-only-input" type="text" name="zip_code" value="<%=user.address?.zip_code || null%>"
                                                placeholder="<%= !user.address?.zip_code && '1111'%>">
                                        </div>
                                    </li>
                                </ul>

                            </div>


                        </div>

                        <div class="profile-selected-field-container user-preferences">
                            <div class="profile-radio-p-container profile-field-container">
                                <p>Quiero recibir notificaciones por correo electrónico</p>
                                <div class="profile-radio-container">

                                    <div class="radio-label-container">
                                        <label for="email_notifications_true">SI</label>
                                        <input id="email_notifications_true" type="radio" name="email_notifications"
                                            value="1" <%=user.email_notifications==1? 'checked' : '' %>>
                                    </div>
                                    <div class="radio-label-container">

                                        <label for="email_notifications_false">NO</label>
                                        <input id="email_notifications_false" type="radio" name="email_notifications"
                                            value="0" <%=user.email_notifications==0? 'checked' : '' %>>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-radio-p-container profile-field-container">
                                <p>Quiero recibir notificaciones por WhatsApp.</p>
                                <div class="profile-radio-container">
                                    <div class="radio-label-container">
                                        <label for="wpp_notifications_true">SI</label>
                                        <input id="wpp_notifications_true" type="radio" name="wpp_notifications"
                                            value="1" <%=user.wpp_notifications==1? 'checked' : '' %>>
                                    </div>
                                    <div class="radio-label-container">

                                        <label for="wpp_notifications_false">NO</label>
                                        <input id="wpp_notifications_false" type="radio" name="wpp_notifications"
                                            value="0" <%=user.wpp_notifications==0? 'checked' : '' %>>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-radio-p-container profile-field-container">
                                <p>Quiero recibir el newsletter por correo electrónico.</p>
                                <div class="profile-radio-container">
                                    <div class="radio-label-container">
                                        <label for="email_newsletter_true">SI</label>
                                        <input id="email_newsletter_true" type="radio" name="email_newsletter" value="1"
                                            <%=user.email_newsletter==1? 'checked' : '' %>>
                                    </div>
                                    <div class="radio-label-container">

                                        <label for="email_newsletter_false">NO</label>
                                        <input id="email_newsletter_false" type="radio" name="email_newsletter"
                                            value="0" <%=user.email_newsletter==0? 'checked' : '' %>>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-radio-p-container profile-field-container">
                                <a href="/user/change-password" class="change-password-btn"></a>
                            </div>
                        </div>


                    </div>

                    <div class="profile-options-container">
                        <ul class="profile-options-list">
                            <li class="profile-option-item profile-option-item-active">Mis datos</li>
                            <li class="profile-option-item">Dirección</li>
                            <li class="profile-option-item">Preferencias</li>
                        </ul>
                    </div>

                    <div class="edit-content-container">
                        <button class="form-btn edit-content">
                            Editar datos
                        </button>
                        <button type="submit" class="form-btn submit-form form-btn-inactive send-user-info-form-btn">
                            Guardar cambios
                        </button>
                    </div>
                </form>

            </div>

            <div class="desktop-profile-content-wrapper">
                <form action="/user/profile?_method=PUT" method="POST"  class="desktop-form user-info-form">
                    <div class="options-container">
                        <div class="profile-data-container user-data">
                            <div class="profile-data-title">
                                <h2>Mis datos</h2>
                            </div>
                            <ul class="profile-selected-list data-list">
                                <li class="profile-field-container">
                                    <p>Nombre:</p> <span>
                                        <%= user.first_name %>
                                    </span>
                                    <div class="profile-input input-container-inactive">
                                        <input class="required letter-only-input" type="text" name="first_name"
                                            value="<%=user.first_name || null%>"
                                            placeholder="<%= !user.first_name && 'Ingresar nombre'%>">
                                    </div>
                                </li>
                                <li class="profile-field-container">
                                    <p>Apellido:</p> <span>
                                        <%= user.last_name %>
                                    </span>
                                    <div class="profile-input input-container-inactive">
                                        <input class="required letter-only-input" type="text" name="last_name"
                                            value="<%=user.last_name || null%>"
                                            placeholder="<%= !user.last_name && 'Ingresar apellido/s'%>">
                                    </div>
                                </li>
                                <li class="profile-field-container">
                                    <p>Email:</p> <span>
                                        <%= user.email %>
                                    </span>
                                    <div class="profile-input input-container-inactive">
                                        <input class="required" type="text" name="email" value="<%=user.email || null%>"
                                            placeholder="<%= !user.email && 'Ingresar correo'%>">
                                    </div>
                                </li>
                                <li class="profile-field-container">
                                    <p>Celular:</p> <span>
                                        <%= user.phone? user.phone : 'Sin especificar' %>
                                    </span>
                                    <div class="profile-input input-container-inactive">
                                        <input class="numeric-only-input" type="text" name="phone" value="<%=user.phone || null%>"
                                            placeholder="<%= !user.phone && 'Ingresar celular'%>">
                                    </div>
                                </li>
                                <li class="profile-field-container">
                                    <p>DNI:</p> <span>
                                        <%= user.dni? user.dni : 'Sin especificar' %>
                                    </span>
                                    <div class="profile-input input-container-inactive">
                                        <input class="numeric-only-input" type="text" name="dni" value="<%=user.dni || null%>"
                                            placeholder="<%= !user.dni && 'Ingresar DNI'%>">
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="profile-data-container user-address">
                            <div class="profile-data-title">
                                <h2>Dirección</h2>
                            </div>
                            <ul class="profile-selected-list address-list">
                                <li class="profile-field-container">
                                    <p>Calle:</p> <span>
                                        <%= user.address?.street? user.address?.street : 'Sin especificar' %>
                                    </span>
                                    <div class="profile-input input-container-inactive">
                                        <input type="text" name="street" value="<%=user.address?.street || null%>"
                                            placeholder="<%= !user.address?.street && 'Santa Fe 2911'%>">
                                    </div>
                                </li>
                                <li class="profile-field-container">
                                    <p>Piso/Departamento:</p> <span>
                                        <%= user.address?.apartment? user.address?.apartment : 'Sin especificar' %>
                                    </span>
                                    <div class="profile-input input-container-inactive">
                                        <input type="text" name="apartment" value="<%=user.address?.apartment || null%>"
                                            placeholder="<%= !user.address?.apartment && '3F'%>">
                                    </div>
                                </li>
                                <li class="profile-field-container">
                                    <p>Ciudad:</p> <span>
                                        <%= user.address?.city? user.address?.city : 'Sin especificar' %>
                                    </span>
                                    <div class="profile-input input-container-inactive">
                                        <input type="text" name="city" value="<%=user.address?.city || null%>"
                                            placeholder="<%= !user.address?.city && 'CABA'%>">
                                    </div>
                                </li>
                                <li class="profile-field-container">
                                    <p>Provincia:</p> <span>
                                        <%= user.address?.provinces_id ? provinces.find(prov=>user.address?.provinces_id == prov.id).name : 'Sin especificar' %>
                                    </span>
                                    <div class="profile-input input-container-inactive">
                                        <select name="provinces_id" id="province">
                                            <% provinces.forEach(prov=> { %>
                                                <option value="<%= prov.id %>" <%=user.address?.provinces_id==prov.id
                                                    && 'selected' %>><%= prov.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                </li>
                                <li class="profile-field-container">
                                    <p>Codigo Postal:</p> <span>
                                        <%= user.address?.zip_code? user.address?.zip_code : 'Sin especificar' %>
                                    </span>
                                    <div class="profile-input input-container-inactive">
                                        <input class="numeric-only-input" type="text" name="zip_code" value="<%=user.address?.zip_code || null%>"
                                            placeholder="<%= !user.address?.zip_code && '1111'%>">
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="profile-data-container user-preferences">
                            <div class="profile-data-title">
                                <h2>Preferencias</h2>
                            </div>
                            <ul class="profile-selected-list">
                                <div class="profile-radio-p-container profile-field-container">
                                    <p>Quiero recibir notificaciones por correo electrónico</p>
                                    <div class="profile-radio-container">

                                        <div class="radio-label-container">
                                            <label for="email_notifications_true">SI</label>
                                            <input id="email_notifications_true" type="radio" name="email_notifications"
                                                value="1" <%=user.email_notifications==1 ? 'checked' : '' %>>
                                        </div>
                                        <div class="radio-label-container">

                                            <label for="email_notifications_false">NO</label>
                                            <input id="email_notifications_false" type="radio"
                                                name="email_notifications" value="0"
                                                <%=user.email_notifications==0 ? 'checked' : '' %>>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-radio-p-container profile-field-container">
                                    <p>Quiero recibir notificaciones por WhatsApp.</p>
                                    <div class="profile-radio-container">
                                        <div class="radio-label-container">
                                            <label for="wpp_notifications_true">SI</label>
                                            <input id="wpp_notifications_true" type="radio" name="wpp_notifications"
                                                value="1" <%=user.wpp_notifications==1? 'checked' : '' %>>
                                        </div>
                                        <div class="radio-label-container">
                                            <label for="wpp_notifications_false">NO</label>
                                            <input id="wpp_notifications_false" type="radio" name="wpp_notifications"
                                                value="0" <%=user.wpp_notifications==0? 'checked' : '' %>>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-radio-p-container profile-field-container">
                                    <p>Quiero recibir el newsletter por correo electrónico.</p>
                                    <div class="profile-radio-container">
                                        <div class="radio-label-container">
                                            <label for="email_newsletter_true">SI</label>
                                            <input id="email_newsletter_true" type="radio" name="email_newsletter"
                                                value="1" <%=user.email_newsletter==1? 'checked' : '' %>>
                                        </div>
                                        <div class="radio-label-container">

                                            <label for="email_newsletter_false">NO</label>
                                            <input id="email_newsletter_false" type="radio" name="email_newsletter"
                                                value="0" <%=user.email_newsletter==0? 'checked' : '' %>>
                                        </div>
                                    </div>
                                </div>
                            </ul>

                        </div>

                    </div>

                    <div class="edit-content-container">
                        <button class="form-btn edit-content">
                            Editar datos
                        </button>
                        <button type="submit" class="form-btn submit-form form-btn-inactive send-user-info-form-btn">
                            Guardar cambios
                        </button>
                    </div>
            </div>


            </form>
            </div>




        </main>


        <%- include('./partials/footer.ejs') %>

</body>

</html>